<div class="premissionContent container">
  <div class="premission-title">
    <h3>用户管理</h3>
  </div>
  <div class="premissionBody">
    <div class="clearfix fun-btn-group">
      <div class="pull-right" #personPosition>
        <jigsaw-button width="100" (click)="$event.stopPropagation();popupPerson(tpPerson)">
          <i class="fa fa-address-book fa-lg"></i>增加用户
        </jigsaw-button>
      </div>
      <div class="pull-right" style="display: inline-block"  #groupPosition>
        <jigsaw-button width="90" (click)="$event.stopPropagation();popupGroup(tpGroup)">
          <i class="fa fa-address-card-o fa-lg"></i>增加组
        </jigsaw-button>
      </div>
      <div class="pull-right search-show" [hidden]="searchShow" >
        <jigsaw-button  width="90" (click)="searchShow=true">
          <i class="fa fa-search fa-lg"></i>搜索
        </jigsaw-button>
      </div>
      <div class="pull-right posi-icon" [hidden]="!searchShow">
        <jigsaw-input id="test-input" [(value)]="userFilter" #myInput [width]="268"
                      placeholder="请输入姓名~">
          <a jigsaw-prefix-icon class="fa fa-search"></a>
          <!--<i jigsaw-prefix-icon (click)="click()"><span class="fa fa-save" style="margin-left: 10px;"></span></a>-->
        </jigsaw-input>
      </div>
    </div>
    <jigsaw-collapse class="premissionSection">
      <jigsaw-collapse-pane [hidden]="userPermission?.content | show:userFilter" [isActive]="true"
                            *ngFor=" let userPermission of userPermissions ">
        <div jigsaw-title>
          {{userPermission.team}}
          <div style="display: inline-block" class="add-update">

            <jigsaw-button (click)="$event.stopPropagation();editGroup(tpGroup,userPermission)"><i class="fa fa-pencil-square-o fa-lg"></i></jigsaw-button>
            <jigsaw-button (click)="$event.stopPropagation();deleteGroup(popWarning,userPermission.team) "><i class="fa fa-trash-o fa-lg"></i></jigsaw-button>

          </div>
        </div>
        <div jigsaw-body>
          <ul class="premissionItems">
            <li *ngFor=" let userContent of userPermission?.content | user: userFilter ">
              <span>{{userContent?.username}}</span>
              <span>{{userContent?.uId}}</span>
              <span>{{userContent?.mail}}</span>
              <span>{{userContent?.roles}}</span>
              <jigsaw-button (click)="onClick(userContent.team,userContent?.uId)" type="primary"><i
                class="fa fa-trash-o fa-lg"></i></jigsaw-button>
            </li>
          </ul>
        </div>
      </jigsaw-collapse-pane>
    </jigsaw-collapse>
  </div>
</div>
<ng-template #tpGroup>
  <div class="pop-win">
    <div class="close-container" (click)="$event.stopPropagation();closeTemplate()"><i class="fa fa-times close-icon"></i></div>
    <div class="input-title">
      <input type="text" [(ngModel)]="nameTeam" name="nameTeam" placeholder="请输入组名" required>
    </div>
    <div class="groupContent">
      <div class="searchContent">
        <div class="groupInput">
          <i class="fa fa-search search-icon"></i>
          <input class="search-box" [(ngModel)]="value" (keyup)="search(value)"/>
          <i class="fa fa-times close-icon" (click)="$event.stopPropagation();clearValue();value=''"></i>
        </div>
        <div [hidden]="dropDownShow" class="searchDropDown">
          <table>
            <tbody>
              <tr *ngFor="let allSearch of allSearchs | async">
                <td>{{allSearch?.name}}</td>
                <td>{{allSearch?.uid}}</td>
                <td>{{allSearch?.roles}}</td>
                <td>
                  <jigsaw-button (click)="addSearch(allSearch,nameTeam);value=''">添加</jigsaw-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
      </div>
      <table class="search-table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>工号</th>
            <th>部门</th>
            <th>操作</th>
          </tr>
        </thead>
        <tr *ngFor="let additem of addTeams;let i=index">
          <td>{{additem?.username}}</td>
          <td>{{additem?.uId}}</td>
          <td>{{additem?.roles}}</td>
          <td>
            <jigsaw-button (click)="delete(i)"><i class="fa fa-trash-o fa-lg"></i></jigsaw-button>
          </td>
        </tr>
      </table>
    </div>
    <div class="btn-group-box">
      <jigsaw-button (click)="$event.stopPropagation();closeTemplate()">取消</jigsaw-button>&nbsp;&nbsp;
      <jigsaw-button (click)="$event.stopPropagation();saveTemplate()">保存</jigsaw-button>
    </div>
  </div>
</ng-template>
<ng-template #tpPerson>
  <div class="pop-person">
    <div class="searchContent">
      <div class="groupInput">
        <i class="fa fa-search search-icon"></i>
        <input class="search-box" [(ngModel)]="value" (keyup)="search(value)"/>
        <i class="fa fa-times close-icon" (click)="clearValue()"></i>
      </div>
      <div [hidden]="dropDownShow" class="searchContent">
        <table>
          <tbody>
          <tr *ngFor="let allSearch of allSearchs | async">
            <td>{{allSearch?.name}}</td>
            <td>{{allSearch?.uid}}</td>
            <td>{{allSearch?.roles}}</td>
            <td>
              <jigsaw-button (click)="addPerson(allSearch);value=''">添加</jigsaw-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [hidden]="!person?.username" class="msg-list">
      <ul class="clearfix">
        <li>{{person?.username}} <br>{{person?.nameEn}}</li>
        <!--<li class="pull-left">{{person?.username}}</li>-->
        <li class="pull-left">{{person?.uId}}</li>
        <li [title]="person?.roles" class="pull-left">{{person?.roles}}</li>
      </ul>
      <jigsaw-select id="test-select" [(value)]="selectedTeamForSelect"
                     (valueChange)="selectChange($event)"
                     placeholder="请选择城市"
                     [data]="teamListForSelect"
                     [optionCount]="5"
                     [width]="320">
      </jigsaw-select>
      <div>
        <jigsaw-button (click)="$event.stopPropagation();closeTemplate()">取消</jigsaw-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <jigsaw-button (click)="$event.stopPropagation();keepTemplate()">保存</jigsaw-button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #popWarning>
  <div class="warning-alert">
    <div class="alert-close" (click)="closeAlert()"><i class="fa fa-times fa-lg"></i></div>
    <ul>
      <li><i class="fa fa-exclamation-circle fa-4x"></i></li>
      <li><p>组删除后，将无法恢复!</p></li>
      <li>
        <div>
          <jigsaw-button (click)="closeAlert()">取消</jigsaw-button>&nbsp;&nbsp;
          <jigsaw-button (click)="deleteAlert()">删除</jigsaw-button>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

