.m-post-detail-main{
  display: flex;
  height: 100%;
  overflow-y: scroll;
}
.g-post-detail{
  flex: 1;
  margin-right: 20px;
  background-color: #fff;

}
.g-post-browser{
  width: 420px;
  background-color: #fff;
  padding: 12px;
}

