.m-post-detail-main{
  display: flex;
}
.g-post-detail{
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
}
.g-post-user{
  width: 320px;
  background-color: #fff;
  padding: 12px;
}

.user-group{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.user-group .user-item{
  margin: 0 8px 6px 0;
}
