.m-post-recommend{
  margin-top: 10px;
}

.m-post-recommend h4{
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

ul.recommend-box li{
  list-style-type: disc;
}
ul.recommend-box li a{
  color: #666;
  line-height: 32px;
}
ul.recommend-box li.active{
  color: #00a8c6;
}
ul.recommend-box li.active a{
  color: #00a8c6;
  border-bottom: 1px solid #00a8c6;
}

