<div class="footer">
  <div class="container footerContainer">
<!--    <div class="footerRow">
      <div class="siteIcon">
      </div>
      <div class="siteDetail">
        <p class="siteName">E办</p>
        <p class="siteSlogan">一个设计师与开发者的协作平台</p>
        <p class="siteVersion">版本: 20177071033</p>
      </div>
    </div>-->
    <div class="footerColumnContainer">
      <div class="footerColumn">
        <p class="linkTitle">业界UED</p>
        <a class="linkName" href="http://ued.qq.com/">腾讯UED</a>
        <a class="linkName" href="http://www.aliued.cn/">阿里UED</a>
        <a class="linkName" href="http://uedc.163.com/">网易UED</a>
        <a class="linkName" href="http://ued.sina.com/">新浪UED</a>
      </div>
      <div class="footerColumn">
        <p class="linkTitle">设计资源</p>
        <a class="linkName" href="http://dribbble.com/">Dribbble</a>
        <a class="linkName" href="https://www.behance.net/">Behence</a>
        <a class="linkName" href="http://ui.cn/">UI中国</a>
        <a class="linkName" href="http://huaban.com/">花瓣</a>
      </div>
      <div class="footerColumn">
        <p class="linkTitle">前端技术</p>
        <a class="linkName" href="http://www.jobbole.com/">伯乐在线</a>
        <a class="linkName" href="http://www.infoq.com/cn/">InfoQ</a>
        <a class="linkName" href="http://echarts.baidu.com/">Echarts</a>
        <a class="linkName" href="https://ant.design/">AntDesign</a>
      </div>
      <div class="footerColumn">
        <p class="linkTitle">设计规范</p>
        <a class="linkName" href="https://material.google.com/">Material Design Guidelines</a>
        <a class="linkName" href="https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/index.html">macOS Human Interface Guidelines</a>
        <a class="linkName" href="https://developer.apple.com/ios/human-interface-guidelines/">iOS Human Interface Guidelines</a>
        <a class="linkName" href="https://developer.microsoft.com/en-us/windows/desktop/design">Windows Design Guidelines</a>
      </div>
    </div>
  </div>
</div>
