
$normal-padding: 20px;
.project-detail {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
  max-width: 1468px;
  img {
    max-width: 100%;
  }
  h2 {
    padding: $normal-padding;
  }
  h4 {
    padding: $normal-padding;
    padding-left: 0;
    font-size: 16px;
    color: #414141;
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: #9ec3ed;
    }
    span {
      font-size: 12px;
      color: #d9d9d9;
    }
  }
  .leftSide {
    border-radius: 2px;
    padding-right: 68px;
    jigsaw-markdown {
      font-size: 14px;
      color: #333;
    }
    .projectBrief {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 30px;
      overflow: hidden;
      background-color: #fff;
      border: none;
      margin-bottom: 0;
      padding-bottom: 20px;
      -webkit-transition: all .6s ease;
      transition: all .6s ease;
    }
    .interactive-design {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      jigsaw-button {
        position: absolute;
        top: 28px;
        right: 0;
        &:nth-child(2) {
          right: 100px;
        }
      }
    }
  }
  .prototype-content {
    position: relative;
    .img-across {
      margin-top: 10px;
      position: relative;
      .imgWidth {
        transition: all 0.5s ;
      }
      .imgBorder {
        padding: 0;
        border: 6px solid #288bf0;
      }
      li {
        padding: 10px;
        img {
          width: 100%;
          height: 100px;
          padding: 0;
        }
      }
    }
    div.download{
      text-align: right;
    }
    div {
      img {
        padding: 6px;
        width: 100%;
        max-height: 550px;
        cursor: pointer;
      }
    }
    .btn-right {
      position: absolute;
      top: 50%;
      left:40px;
      height: 30px;
      width: 30px;
      border-radius: 20px;
      padding-left: 8px;
      padding-top: 2px;
      transform: translateY(-50%);
      background-color: rgba(160,160,160,.75);
      color: #fff;
      cursor: pointer;

    }
    .btn-left {
      position: absolute;
      top: 50%;
      right:40px;
      height: 30px;
      width: 30px;
      border-radius: 20px;
      padding-left: 12px;
      padding-top: 2px;
      transform: translateY(-50%);
      background-color: rgba(160,160,160,.75);
      color: #fff;
      cursor: pointer;
    }
  }
  p {
    padding: 0 40px 0;
  }
  .download-list {
    margin-top: $normal-padding;
    border-radius: 2px;
    ul > li a {
      display: block;
      padding-left: $normal-padding;
      margin-top: $normal-padding;
      margin-bottom: $normal-padding;
      line-height: 30px;
      border: 1px solid transparent;
      &:hover {
        box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
        border: 1px solid #e7eaf1
      }
      span {
        line-height: 30px;
        padding-right: $normal-padding;
      }
    }
  }
  .rightSide {
    border-radius: 2px;
    .img-bubble {
      position: relative;
      img {
        width: 100%;
      }
      span {
        color: #fff;
        &:nth-child(2) {
          position: absolute;
          top: 53px;
          left: 49px;
        }
        &:nth-child(3) {
          position: absolute;
          top: 47px;
          right: 36px;
        }
        &:nth-child(4) {
          position: absolute;
          bottom: 46%;
          right: 46%;
          img{
            border-radius: 50%;
          }
        }
        &:nth-child(5) {
          position: absolute;
          bottom: 54px;
          left: 36px;
        }
        &:nth-child(6) {
          position: absolute;
          bottom: 70px;
          right: 57px;
        }
      }
    }
    p {
      padding: 0 10px 0 20px;
      line-height: 40px;
    }
    .project-action {
      a {
        text-align: center;
        line-height: 46px;
        color: #4398ef;
        &:hover {
          color:  #0041fd;
        }
        &:first-child {
          padding-right: 50px;
        }
        .fa-heart:before {
          font-size: 20px;
        }
        .fa-check-circle-o {
          font-size: 20px;
          color:  #0041fd;
        }
        .fa-times-circle-o {
          font-size: 20px;
          color:  red;
        }
        .fa-spinner{
          font-size: 20px;
          color:  #0041fd;
        }
        .fa-envelope-o:before {
          font-size: 20px;
        }
      }
      .marking {
        color: #f74040;
      }
    }
    + .permission {
      margin-top: $normal-padding;
      position: relative;
      .permissionBtn {
        position: relative;
        >jigsaw-button {
          position: absolute;
          top: 13px;
          right: 20px;
          background-color: #288bf0;
          color: #fff;
          border-radius: 16px;
          font-size: 14px;
          line-height: 30px;
          height: 32px;
        }
      }
      .detailPermission {
        position: absolute;
        top: 87%;
        right: 0;
        width: 100%;
        border-radius: 5px;
        margin-top: 5px;
        padding: 5px;
        display: none;
        background-color: #f2f2f2;
        z-index: 100;
        &:before {
          display: block;
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          top: -6px;
          right: 50px;
          transform: rotate(45deg);
          background-color: #f2f2f2;
          z-index: -2;
        }
        .title {
          margin-top: 5px;
          font-size: 14px;
          color: #666;
            span {
              padding-right: 20px;
              color:#ccc;
            }
        }
        .jigsaw-input {
          width: 100%;
        }
        .authoriseContent {
          position: absolute;
          top: 47px;
          left: 50%;
          width: 90%;
          border-radius: 5px;
          transform: translate(-50%,0);
          background-color: #fff;
          text-align: center;
          z-index: 9998;
          &:before {
            content: "";
            position: absolute;
            top: -20px;
            right: 15px;
            border: 10px solid transparent;
            border-top: 10px solid #fff;
            transform: rotate(180deg);
          }
          .errorBox {
            margin: 10px 30px;
            padding: 10px 20px;
            text-align: center;
            background-color: #fff;
            i{
              color: #fd9749;
            }
          }
          & div >h5 {
            padding: 10px;
            font-size: 16px;
            i.fa-exclamation-circle{
              color: #e77275;
            }
            i.fa-check-circle{
              color: #96cb73;
            }
          }
          & div > ul {
            display: flex;
            padding: 15px 10px;
            li {
              &:first-child{
                width: 50px;
              }
              &:nth-child(2){
                width: 100px;
              }
              &:nth-child(3){
                flex: 1;
              }
            }
          }
          & div > jigsaw-button {
            margin-bottom: 15px;
            border-radius: 15px;
            border: 2px solid #288bf0;
            color: #288bf0;
          }
        }
        .PermissionUser {
          & > div {
            float: left;
            width: 33.333%;
            padding: 5px;
            jigsaw-tag {
              width: 100%;
              height: 28px;
              border-radius: 14px;
              background-color: #dfdfdf;
              line-height: 28px;
              text-align: center;
              color: #333;
            }
          }

        }
        .seletPermission {
          .title {
            position: relative;
            margin: 8px;
            font-size: 14px;
            color: #666;
            jigsaw-button {
              position: absolute;
              top: -6px;
              right: 0;
            }
          }
          .seletOptionBtn {
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center;
            jigsaw-button {
              border-radius: 15px;
              &:nth-child(2) {
                border: 2px solid #288bf0;
              }
            }
          }
        }
      }
    }
  }
  .commentForm {
    margin-top: 20px;
    .title {
      margin: 8px;
      color: #ccc;
      font-size: 12px;
    }
    .showPermissions {
      & > jigsaw-tag, & >jigsaw-button {
        float: left;
        width: 30%;
        height: 28px;
        line-height: 28px;
        text-align: center;
        margin-right: 2%;
        margin-bottom: 2%;
        border-radius: 14px;
        background-color: #e5e5e5;
        color: #333;
      }
      & > jigsaw-tag {
        border-radius: 14px;
        cursor: default;
      }
      & >jigsaw-button {
        border: none;
        color: #fff;
        background-color: #288bf0;
      }
    }
    .relatedProjects {
      ul li > a {
        line-height: 33px;
        color: #333;
        font-size: 12px;
        &:hover {
          color: #288bf0;
        }
      }
    }
  }
}
.img-position {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.thelid {
  position: relative;
  width: 100%;
  min-height: 100%;
  &:hover {
    strong{
      opacity: 1;
      transition: all 0.5s;
    }
  }
  strong {
    position: absolute;
    top: 30px;
    right: 50%;
    opacity: 0;
    padding: 5px 15px;
    transition: all 0.5s;
    transform: translateX(50%);
    background-color: #444;
    font-size: 18px;
    color: #fff;
    z-index: 200;
    span {
      font-size: 14px;
    }
  }
}


.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.mailSeed {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  h4 {
    text-align: center;
  }
}

@keyframes lidshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lidhidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

jigsaw-table {
  border: none;
}
.project-detail-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
}
.project-detail-left {
  margin-right: 360px;
}
.intro {
  &+.intro-read-more {
    position: relative;
    height: 104px;
    margin-top: -130px;
    text-align: center;
    background: -webkit-linear-gradient(to top, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
    z-index: 9999;
    jigsaw-button {
          margin-top: 85px;
    }
  }
}

.hidden-text {
  overflow: hidden;
  max-height: 184px;
  margin-bottom: 40px;
}

