body {background:#111}

.halo{
  transition: .4s all;
&.input{
   width:100px;
   height:100px;
&:before{
   width:100px;
   height:100px;
 }
}
}

@mixin rotator($color,$out:1,$in:1) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%,0);
  background-color:rgba($color,.3);
  border-radius:100%;
  width: 200px;
  height: 200px;
  -webkit-transform: scale($out);

&:before{
   content:"";
   position:absolute;
   width:200px;
   height:200px;
   border-radius:100%;
   background-color:rgba($color,.3);
   -webkit-transform: scale($in);
 //-webkit-animation: rotate 3.5s infinite alternate-reverse;
 }
}
.ring-1 {
@include rotator(#3f94ff,1.15,.85);
  -webkit-animation: rotate 5.8s infinite alternate-reverse;
}
.ring-2 {
@include rotator(#3f94ff,1.31,1.26);
  -webkit-animation: rotate-1 4.5s infinite alternate;
}
.ring-3 {
@include rotator(aqua);
  -webkit-animation: rotate-2 4s infinite alternate;
}
.ring-4 {
@include rotator(aqua);
  -webkit-animation: rotate 7s infinite alternate-reverse;
}
.ring-5 {
@include rotator(#FF00FF);
  -webkit-animation: rotate-2 5s infinite alternate;
}
.ring-6 {
@include rotator(aqua);
  -webkit-animation: rotate 2s infinite alternate-reverse;
}
.ring-7 {
@include rotator(aqua);
  -webkit-animation: rotate-2 5s infinite alternate;
}
.ring-8 {
@include rotator(#FF00FF);
  -webkit-animation: rotate 10s infinite alternate-reverse;
}


@mixin a-rotate($scaleX,$toScaleX) {
0% {-webkit-transform: rotate(360deg) scaleX($scaleX)}
100% {-webkit-transform: rotate(0deg) scaleX($toScaleX) }
}

@-webkit-keyframes rotate
{
  0% {-webkit-transform: rotate(360deg) scaleX(1.1)}
  100% {-webkit-transform: rotate(0deg) scaleX(0.88) }
}

@-webkit-keyframes rotate-1
{
  0% {-webkit-transform: rotate(360deg) scaleX(1.09)}
  100% {-webkit-transform: rotate(90deg) scaleX(0.94) }
}

@-webkit-keyframes rotate-2
{
  0% {-webkit-transform: rotate(360deg) scaleX(1.13) }
  100% {-webkit-transform: rotate(90deg) scaleX(0.88) }
}
