<div class="user-login-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="form.form.valid && doLogin()" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !userName.valid }">
          <label class="col-sm-3 control-label">手机或邮箱</label>
          <div class="col-sm-9">
            <input required name="userName" [(ngModel)]="user.userName" #userName="ngModel" type="text" class="form-control" placeholder="请输入用户名">
            <div *ngIf="form.submitted && !userName.valid" class="text-danger">用户名必须输入！</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
          <label class="col-sm-3 control-label">密码</label>
          <div class="col-sm-9">
            <input required minlength="8" [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control" placeholder="请输入密码">
            <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入,至少要8位！</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
          <label class="col-sm-3 control-label">确认密码</label>
          <div class="col-sm-9">
            <input required minlength="8" [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control" placeholder="请输入密码">
            <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入,至少要8位！</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
          <label class="col-sm-3 control-label">职业</label>
          <div class="col-sm-9">
             <jigsaw-select data="[1,2,3,4,5]" placeholder="请选择城市"></jigsaw-select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">注册</button>
            <button type="button" class="btn mg-left-15" (click)="registerUser()">取消</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
