<div class="m-post-list">
  <div  class="g-post-list-box">
    <ul class="post-list-group  f-cb">
      <li *ngFor="let postItem of postList">
        <a [routerLink]="['./detail/1']"  routerLinkActive="active">
          <div class="post-item">
            <div class="post-title">
              <h3>文章标题</h3>
              <span>视觉</span>
            </div>
            <img src="http://via.placeholder.com/300x180"alt="">
            <div class="post-desc">
              <span>{{postItem.userName}}</span>
              <p>{{postItem.title}}</p>
            </div>
            <div class="post-footer-icon">
              <span>点赞：{{postItem.postId}}</span>
              <span>阅读：{{postItem.readTimes}}</span>
              <span>评论{{postItem.commentTimes}}</span>
              <span>{{postItem.postTime}}</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

