<div class="m-post-list">
  <div  class="g-post-list-box">
    <ul class="post-list-group  f-cb">
      <li *ngFor="let postItem of [1,2,3,4,5,6,7,8,9]">
        <a [routerLink]="['./detail']"  routerLinkActive="active">
          <div class="post-item">
            <div class="post-title">
              <h3>文章标题</h3>
              <span>视觉</span>
            </div>
            <img src="http://via.placeholder.com/300x180"alt="">
            <div class="post-desc">
              <span>作者</span>
              <p>this is a post d wqrjasfasfjkljqwr asfsafasjfaslkfjlaksfqwe qwjrlwqjrlwqrlhwqr  asflkjaslfj jkajsf</p>
            </div>
            <div class="post-footer-icon">
              <span>1</span>
              <span>2</span>
              <span>3</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

