@mixin target-shadow {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}

@mixin close-container {
    .close-container {
      position: absolute;
      top: 0;
      right: 10px;
      width: 16px;
      height: 16px;
      font-size: 18px;
      cursor: pointer;
      z-index: 10000;
    }
}
@mixin button-nostyle {
  border: none;
  background-color: #fff;
  &:focus {
    outline: none;
  }
}

.premissionContent {
  position: relative;
  width: 1226px;
  border: none;
  padding: 0;
  margin-top: 25px;
  .premission-title {
    position: absolute;
    top: 5px;
    left: 0;
    h3 {
      color: #010101;
    }
  }
  .premissionBody {
    text-align: right;
    .fun-btn-group{
      div > jigsaw-button {
        color: #959595;
        padding: 0;
        margin-right: 20px;
      }
      div.posi-icon {
        position: relative;
        & > jigsaw-input {
          color: #959595;
          margin-right: 20px;
        }
        &>i {
          position: absolute;
          top: 10px;
          right: 20px;
          cursor: pointer;
        }
      }
    }
    .premissionSection {
      text-align: left;
      margin-top: 15px;
      .premissionItems {
        li {
          display: table;
          width: 100%;
          & + li {
            border-top: 1px solid #CCC;
          }
          jigsaw-button {
            display: table-cell;
            padding-right: 15px;
            line-height: 50px;
            text-align: right;
            color: #959595;
          }
          span {
            display: table-cell;
            line-height: 50px;
            text-align: center;
            &:first-child {
              width: 20%;
            }
            &:nth-child(2) {
              width: 20%;
            }
            &:nth-child(3) {
              width: 30%;
            }
            &:nth-child(4) {
              width: 20%;
            }
          }
        }
      }
    }
  }
}

.pop-win {
  position: relative;
  width: 380px;
  padding: 10px 10px 20px 10px;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 0 9px -1px #494949;
  @include close-container;
  .input-title {
    text-align: center;
    input {
      width: 196px;
      height: 40px;
      border-radius: 20px;
      margin: 15px 0 25px 0;
      font-size: 14px;
      text-align: center;
      border: 1px solid #cbcaca;
      &:focus {
        outline: none;
        border: 1px solid #4396ef;
      }
    }
  }
  .groupContent {
    .searchContent {
      text-align: center;
      position: relative;
      .groupInput{
        position: relative;
        .search-icon{
          position: absolute;
          top: 10px;
          left: 20px;
        }
        .close-icon{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
        .search-box {
          width: 320px;
          height: 30px;
          border: none;
          padding-left: 20px;
          border-bottom: 1px solid #cbcaca;
          &:focus {
            outline: none;
            border-bottom: 1px solid #4398ef;
          }
          &:active {
            border: none;
            border-bottom: 1px solid #cbcaca;
          }
        }
      }
      .searchDropDown {
        position: absolute;
        top: 102%;
        left: 15px;
        z-index: 10;
        width: 330px;
        padding-left: 5px;
        background-color: #f7f7f7;
        font-size: 12px;
        box-shadow: 0 0 9px -1px #494949;
        table {
          width: 100%;
          td {
            p{
              white-space: nowrap;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
              overflow: hidden;
            }
            line-height: 40px;

            jigsaw-button {
              min-width: 30px;
              border: none;
            }
            &:nth-child(1){
              width: 40px;
            }
            &:nth-child(2){
              width: 80px;
            }
            &:nth-child(3){
              width: 160px;
            }
            &:nth-child(4){
              width: 60px;
            }
          }
        }
      }
    }
    .search-table {
      margin-top: 15px;
      width: 100%;
      td, th {
        text-align: center;
        height: 40px;
        line-height: 40px;
      }
      td {
        jigsaw-button {
          min-width: 30px;
          padding: 0;
          color: #959595;
        }
      }
    }
  }
  h3 {
    height: 100px;
    text-align: center;
    margin-top: 56px;
    line-height: 100px;
    font-weight: normal !important;
    margin-bottom: 0 !important;
  }
  .btn-group-box {
    margin-top: 10px;
    text-align: center;
  }
}

.pop-person {
  width: 354px;
  padding: 10px;
  background-color: #fff;
  &:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -20px;
    right: 45px;
  }
  .searchContent {
    text-align: center;
    position: relative;
    .groupInput{
      position: relative;
      .search-icon{
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .close-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
    .search-box {
      width: 320px;
      height: 30px;
      border: none;
      padding-left: 20px;
      border-bottom: 1px solid #cbcaca;
      &:focus {
        outline: none;
        border-bottom: 1px solid #4398ef;
      }
      &:active {
        border: none;
        border-bottom: 1px solid #cbcaca;
      }
    }
    .searchContent {
      table {
        width: 100%;
        jigsaw-button {
          background-color: #f7f7f7;
          color: #4398ef;
          min-width: 30px;
        }
        td {
          line-height: 40px;
        }
      }
    }
  }
  .msg-list {
    ul>li{
      line-height: 40px;
      text-align: center;
      &:nth-child(1){
        height: 93px;
        padding-top: 40px;
        line-height: 20px;
        background: url('/assets/img/bgbubbles.png') center center no-repeat;
      }
      &:nth-child(2){
        width: 30%;
      }
      &:nth-child(3){
        width: 70%;
      }
    }
    div {
      padding-top: 20px;
      text-align: center;
    }
  }
}
jigsaw-select {
  margin-left: 7px;
}
.add-update {
  position: absolute;
  top: 0;
  right: 13px;
  jigsaw-button {
    padding: 0;
    min-width: 30px;
    background-color: #efefef;
    color: #959595;
  }
}

.high-light{
  color: #4398ef!important;
}
.po-mark:before{
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -20px;
  right: 45px;
}
