.m-component-detail{
  margin-left: 10px;
  background-color: #fff;
}
.m-component-detail{
  margin-left: 10px;
  background-color: #fff;
  padding: 10px;
}

.g-detail-content{
  height: 100%;
  max-height: 610px;
  overflow-y: auto;
  padding-right: 8px;
}
