.ued-root{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
}
.ued-body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.g-head{
  display: flex;
  padding: 0 45px;
  background-color:#fff;
  position: relative;
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.188235294117647);
}
.g-head nav{
  margin-left: 100px;
  flex: 1;
}
.g-head ul.nav-tabs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: none;
}
.g-head nav a{
  font-size: 14px;
  line-height: 60px;
  color: #333;
}
.g-head .nav.navbar-nav>li:hover a {
  background-color: #fff ;
  color: #13b5b1
}
.g-head .nav.navbar-nav a {
  color: #337ab7
}
.g-head a.active{
  background-color: rgba(242, 242, 242, 1);
  color: #13B5B1;
}
.g-head ul.nav-tabs>li>a{
  margin-right: 0;
  border: none;
}
.g-head ul.nav-tabs li a{
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 60px;
}
.g-head ul.nav-tabs>li>a:hover{
  border: none;
  border-bottom: 2px solid #13B5B1;
}

.g-head ul.nav-tabs li:last-child{

}
.g-head ul.navbar-nav li {
  position: relative;
}
.g-head ul.navbar-nav li:hover .heath{
  transform: scale(1);
}
.g-head ul.navbar-nav li .heath{
  position: absolute;
  top: 100%;
  right: 0;
  margin-left: 50%;
  transform-origin:50% 0;
  transform: scale(0);
  z-index: 2;
  transition: all .2s;
}
.g-main{
  position: relative;
  background-color: #f5f5f5;
  flex: 1;
  padding-top: 10px;
  overflow: hidden;
  overflow-y:auto;
}


/* log */
.u-log{
  color: #13B5B1;
  display: flex;
}
.u-log strong{
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 60px;
 }
.u-log p{
  padding-top: 15px;
}
.u-log em{
  font-style: normal;
}
.u-log em:first-child{
  display: table-cell
}

