
<div class="g-head">
  <div class="u-log">
    <strong>UED</strong>
    <p>
      <em>中兴</em>
      <em>大数据</em>
    </p>
  </div>
  <nav>
    <ul class="nav-tabs">
      <li><a routerLink="/home" routerLinkActive="active">首页</a></li>
      <li><a routerLink="/null" routerLinkActive="active">项目</a></li>
      <li><a routerLink="/components" routerLinkActive="active">组件</a></li>
      <li><a routerLink="/tools" routerLinkActive="active">工具</a></li>
      <li><a routerLink="/null" routerLinkActive="active">博文</a></li>
      <li><a routerLink="/null" routerLinkActive="active">团队</a></li>
      <!--<li><a routerLink="/dashboard" routerLinkActive="active">英雄指南</a></li>-->
    </ul>
  </nav>
  <div class="u-search">
    <input type="text" placeholder="搜索项目，规范与组件">
  </div>
  <div>
    <a href="">个人中心</a>
    <img src="" alt="" width="30" height="30">
  </div>
</div>

<div class="g-main">
  <router-outlet></router-outlet>
</div>


