<jigsaw-root>
  <div class="ued-root">
    <div class="ued-body">
      <div class="g-head ued-top-menu" [class.home-active]="isHomePage">
        <div class="top-menu-box">
          <ued-top-menu></ued-top-menu>
        </div>
        <div class="top-search">
          <app-ued-search></app-ued-search>
        </div>
        <div class="user-box">
          <ued-user-main></ued-user-main>
        </div>
      </div>
      <div *ngIf="isBrowser; else isServer" class="g-main" perfectScrollbar>
        <router-outlet></router-outlet>
      </div>
      <ng-template #isServer>
        <div class="g-main">
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </div>
    <!-- [@routeAnimation]="routerStateCode" [@animate]="'slideInRight'"-->
  </div>
</jigsaw-root>


