<div class="m-demo-component" *ngIf="demoList.length">
  <div class="demo-wrap" id="test"  >
    <div *ngFor="let demoItem of demoList" class="demo-item" [id]="demoItem.desc">
      <h2>{{demoItem.desc}}<a target="_blank" [href]="demoItem.url" title="在线例子">在页面中打开</a></h2>
      <iframe [src]="demoItem.url | sanitizeResourceUrL" frameborder="0" width="100%" height="600"></iframe>
    </div>
  </div>
  <div class="demo-nav-wrap">
    <ul>
      <li *ngFor="let demoItem of demoList" (click)="setSelect(demoItem.desc)" [class.active]="isActive(demoItem.desc)"><a [href]="getHref(demoItem.desc)">{{demoItem.desc}}</a></li>
    </ul>
  </div>
</div>
<div *ngIf="!demoList.length">
  <h3>{{componentMenuNav.name}} demo 正在完善中...</h3>
</div>
