<div class="m-demo-component" *ngIf="demoList.length > 0">
  <div class="demo-wrap" id="test">
    <iframe [src]="currentDemo.url | sanitizeResourceUrL" frameborder="0"></iframe>
  </div>
  <div class="demo-nav-wrap">
    <ul>
      <li *ngFor="let demoItem of demoList" (click)="setSelect(demoItem)"
          [class.active]="isActive(demoItem.desc)"
          [class.hidden]="!demoItem.recommended && !showMore">
        <a [class.recommended]="demoItem.recommended && showMore" [href]="getHref(demoItem.desc)">{{demoItem.desc}}</a>
      </li>
      <li [hidden]="demoList.length == 0" (click)="(showMore = !showMore)">
        <a>{{showMore ? 'less...' : 'more...'}}</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="demoList.length == 0">
  <h3>{{selectedComponent}} demo 正在完善中...</h3>
</div>
