<div class="m-write-post">
  <div class="editor-box">
    <div class="title-input">
      <div>
        <label>标题</label>
        <input class="form-control" [(ngModel)]="post.title" #postTitle="ngModel" name="title"  required (input)="doTitleChange()">
        <div *ngIf="postTitle.invalid && (postTitle.dirty || postTitle.touched) || isEmptyTitle" class="text-danger">标题必须输入！</div>
        <!--<label>简介</label>
        <input class="form-control" [(ngModel)]="subTitle" name="title"  required >-->
        <div class="select-type">
          <jigsaw-select [data]="categoryList" [(value)]="selectedType" (valueChange)="doTypeChange()" placeholder="请选择分类"></jigsaw-select>
        </div>
        <div *ngIf="isEmptyType" class="text-danger">请选择分类</div>
      </div>
    </div>

    <div *ngIf="isBrowser" [class.md-edit-empty]="isEmptyContent">
      <md-editor   (value$)="getContent($event)" [value]="post.content"></md-editor>
    </div>
    <div *ngIf="isEmptyContent" class="text-danger">内容不能为空</div>

    <div class="input-group-btn">
      <button class="ued-btn btn-white" (click)="onLeave()"><i class="fa fa-reply" aria-hidden="true"></i>返回</button>
      <button class="ued-btn btn-blue"  (click)="onSaveDraft()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>存为草稿</button>
      <button class="ued-btn btn-blue"  (click)="onSave()"><i class="glyphicon glyphicon-saved"></i>发布</button>
    </div>
  </div>

  <div class="file-upload-box">
    <div class="img-upload">
      <p-fileUpload name="files" url="xplan/pictures/upload" chooseLabel="上传图片"
        (onBeforeUpload)="onPhotoBeforeUpload()" (onProgress)="onPhotoProgress($event)"
        (onUpload)="onPhotoUpload($event)" auto="auto" maxFileSize="1000000">
        <ng-template pTemplate="content">
          <div *ngIf="imgUploadUrl" class="img-review"  (click)="doRemovePhoto()">
            <img  [src]="imgUploadUrl" alt="" >
          </div>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="img-progress" *ngIf="imgUploadStatus">
      <p-progressBar [value]="imgProgVal"></p-progressBar>
    </div>

    <div class="attachment-upload">
      <p-fileUpload name="files" url="xplan/pictures/upload" auto="auto" chooseLabel="附件资源"
        (onBeforeUpload)="onAttBeforeUpload()"  (onProgress)="onAttProgress($event)"
        (onUpload)="onAttachmentUpload($event)" multiple="multiple" maxFileSize="10000000">
        <ng-template pTemplate="content">
          <div class="attachment-files">
            <ul *ngIf="attachmentFiles.length">
              <li *ngFor="let file of attachmentFiles;let i=index">
                <span class="attach-file-name" [title]="file.attachName">{{file.attachName}}</span> <a (click)="removeAttFile(i)"><i class="fa fa-remove" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="att-progress" *ngIf="attUploadStatus">
      <p-progressBar [value]="attProgVal"></p-progressBar>
    </div>
  </div>
  <div class="ued-msg">
    <p-growl [(value)]="msgs"></p-growl>
  </div>
</div>
