
.user-login a{
  display: inline-block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  padding: 0 12px;
}
.user-login a.active {
  text-decoration: none;
  color: #00a6dd !important;
}

.user-content{
  position: absolute;
  right: 32px;
  top:60px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.login{
  width: 320px
}
.register{
  width: 380px;
}
