<div class="user-login-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="form.form.valid && doLogin()" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !userName.valid }">
          <div class="col-sm-12">
            <label class="col-sm-1 control-label"><i class="fa fa-user" aria-hidden="true"></i></label>
            <div class="col-sm-10">
              <input required name="userName" [(ngModel)]="user.userName" #userName="ngModel" type="text" class="form-control" placeholder="请输入用户名">
              <div *ngIf="form.submitted && !userName.valid" class="text-danger">用户名必须输入！</div>
             </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
          <div class="col-sm-12">
            <label class="col-sm-1 control-label"><i class="fa fa-lock" aria-hidden="true"></i></label>
            <div class="col-sm-10">
              <input required minlength="8" [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control" placeholder="请输入密码">
              <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入,至少要8位！</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="flex-between">
              <label>
                <jigsaw-checkbox  [(checked)]="autoLogin">自动登陆</jigsaw-checkbox>
              </label>
              <a class="self forget-pwd">忘记密码？</a>
            </div>
          </div>
        </div>
        <div *ngIf="error" class="col-sm-offset-2 col-sm-10 alert alert-danger">{{error}}</div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10 flex-between">
            <button type="submit" class="ued-btn btn-flat btn-lg btn-blue">登录</button>
            <button type="button" class="ued-btn btn-flat btn-lg btn-white" (click)="registerUser()">注册</button>
          </div>
        </div>
        <!--<div class="form-group">-->
          <!--<div class="col-sm-12">-->
            <!--<img id="u60_img" class="img " src="assets/img/u60.png">-->
          <!--</div>-->
        <!--</div>-->
      </form>
    </div>
  </div>
</div>
