/* You can add global styles to this file, and also import other style files */
//a{  color:#333  }
@import "../node_modules/@rdkmaster/jigsaw/theming-api";

@include setTableBody(#333, 12px , #f2f2f2, #f2f2f2 );
a:active,a:link,a:hover{
  text-decoration:none;
  border: none;
  outline: none;
}

.ued-top-menu{
  color: #666;
  background-color: transparent;
  a:not(.self){
    color: #666 !important;
  }
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  z-index: 1000;
  transition: all .75s;
}
.ued-top-menu.home-active{
  box-shadow: none;
}
.ued-top-menu.home-active + .g-main{
  background-color: transparent;
}


.fl{
  float: left;
}
.fr{
  float: right;
}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-img{
  width: 0;
  height: 0;
  border: 300px solid #eee;
}

.f-bottom-hover:hover{
  border: none;
  border-bottom: 2px solid #13B5B1;
}

::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(#008fd4,0.3);

}
::-webkit-scrollbar-track {
  background-color:#f5f5f5;
  border-radius:2em;
}
::-webkit-scrollbar-thumb {
  background-size: 50px 50px;
  box-shadow: 1px 1px 8px gray;
  //background-image: -webkit-gradient(linear, 0 0, 100% 100%,
  //  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
  //  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
  //  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
  //  to(transparent));
  //background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  //  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  //  transparent 75%, transparent);
  //background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  //  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  //  transparent 75%, transparent);
  //background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  //  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  //  transparent 75%, transparent);
}
//定义边框阴影
@mixin target-shadow {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}


/* jigsaw 样式覆盖 --- start  */
.jigsaw-select-box .jigsaw-select-option-list{
  z-index: 999;
}
.jigsaw-collapse-item .jigsaw-collapse-content {
  padding: 6px 0 6px 0;
  border: none;
}
.jigsaw-collapse-item .jigsaw-collapse-header {
  height: 50px;
  line-height: 50px;
}
.jigsaw-collapse-host .jigsaw-collapse-item .jigsaw-collapse-header {
  background-color: #efefef;
  padding-left: 30px;
}
.jigsaw-collapse {
  border: none;
}
.jigsaw-collapse-header .jigsaw-collapse-arrow {
  left: 16px;
  right: auto;
  &>div{
    position: relative;
    padding-left: 25px;
  }
}
.jigsaw-select-box .jigsaw-select {
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid #cbcaca;
  border-radius: 0;
  &:hover {
    border-bottom: 1px solid #cbcaca;
  }
}
.jigsaw-select-box .jigsaw-select.jigsaw-select-opened {
  border:none;
  border-bottom: 1px solid #efefee;
  box-shadow:none;
}
.jigsaw-select-option.jigsaw-select-option-on, .jigsaw-select-option.jigsaw-select-option-on:hover {
  background-color: #efefef;
}
.jigsaw-select-option:hover {
  background-color: #efefef;
}
.jigsaw-input input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #cbcbcb;
}
.jigsaw-input input:hover {
  border: none;
  border-bottom: 1px solid #4398ef;
}
.jigsaw-input input:focus {
  border: none;
  border-bottom: 1px solid #4398ef;
  box-shadow: none;
}
.tab-content .jigsaw-tabs-nav-container .jigsaw-tabs-nav-wrap .jigsaw-tabs-nav {
  float: right;
}


/* jigsaw 样式覆盖 --- end  */


/* primeNG 样式覆盖 --- start  */
.user-center-growl .ui-growl {
  top: 70px;
}

.img-upload .ui-fileupload-content{
  width: 100%;
  height: 320px;
  padding: 0;
}
.img-upload .fa-plus:before{
  content: "\F1C5";
}
.img-upload .ui-fileupload-content div{
  display: none;
}
.img-upload .ui-fileupload-content div.img-review{
  display: block;
}

.attachment-upload .ui-fileupload-content {
  height: 116px;
}
.attachment-upload .fa-plus:before{
  content: "\F15C";
}

.attachment-upload .ui-fileupload-content div{
  display: none;
}
.attachment-upload .ui-fileupload-content div.attachment-files{
  display: block;
}




.a-ripple{
  position: relative;
  overflow: hidden;
}
.ripple {
  position: absolute;
  background-color: rgba(84,175,232,.35);
  border-radius: 50%;
  pointer-events: none;
  transition: opacity,transform 0ms cubic-bezier(0,0,.2,1);
  transition-duration: 650ms;
  transform: scale(0);
}
.ripple.show {
  animation: ripple .75s ease-out;
  animation-full-mode:forwards;
  animation-duration: 400ms;
}
@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 1;
  }
}
