<div class="m-component-menu-nav">
  <div  class="g-menu-nav" perfectScrollbar>
    <ul class="menu-nav-group" [@fade]="'fadeIn'">
      <li *ngFor="let menuNavItem of ComponentMenuNavItems  | menuFilter:1 ">
        <span>{{menuNavItem.label}}</span>
        <ul class="menu-nav-group-child">
          <li uedRipple *ngFor="let menuNavChildItem of ComponentMenuNavItems | menuFilter:2:menuNavItem.menuId">
            <!--<a [routerLink]="[menuNavChildItem.name]"  routerLinkActive="active">{{menuNavChildItem.label}}</a>-->
            <a (click)="gotoComponentDetail(menuNavChildItem)"
               [class.active]="isSelected(menuNavChildItem)">
              {{menuNavChildItem.label}}
            </a>
          </li>
          <li uedRipple *ngIf="menuNavItem.label=='组件'"><a href="http://10.9.233.68:9953/webgis/default/index.html" target= _blank>WebGis</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="g-component-detail">
    <router-outlet></router-outlet>
  </div>
</div>


