<div class="m-component-menu-nav" [@animate]="'zoomInRight'">
  <div  class="g-menu-nav">
    <ul class="menu-nav-group">
      <li *ngFor="let menuNavItem of ComponentMenuNavItems  | menuFilter:1 ">
        <span>{{menuNavItem.label}}</span>
        <ul class="menu-nav-group-child">
          <li uedRipple *ngFor="let menuNavChildItem of ComponentMenuNavItems | menuFilter:2:menuNavItem.menuId">
            <!--<a [routerLink]="[menuNavChildItem.name]"  routerLinkActive="active">{{menuNavChildItem.label}}</a>-->
            <a (click)="gotoComponentDetail(menuNavChildItem)"
               [class.active]="isSelected(menuNavChildItem)">
              {{menuNavChildItem.label}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="g-component-detail">
    <router-outlet></router-outlet>
  </div>
</div>


