<div class="team-content" [@animate]="'zoomInDown'">
  <div class="team-top clearfix" >
    <div class="pull-left" ><img src="/assets/img/team.png" alt=""></div>
    <div class="pull-left">
      <p>大数扰UED团队是便捷、安全的互联网大数据协同服务平台。以技术创新为驱动力，</p>
      <p>凭借稳健的商业模式和领先的技术能力，为客户提供可行的实践见解，协助客户获得</p>
      <p>新发现，提供高效的场景化互联网开发服务。以关注大数据行来技术发展、服务各层</p>
      <p>级企业、实现资源有效配置的导向目标，不断探索和创新，助力与解决中小企业的开</p>
      <p>发难题，提供大数据组件模型、高效开发工具等多元提升的专业内容。</p>
    </div>
  </div>
  <div class="team-style">
    <div class="team-img">
      <img src="/assets/img/team/cb.png" alt="cb">
      <img src="/assets/img/team/ctt.png" alt="ctt">
      <img src="/assets/img/team/wpf.png" alt="wpf">
      <img src="/assets/img/team/wtl.png" alt="wtl">
      <img src="/assets/img/team/wx.png" alt="wx">
      <img src="/assets/img/team/zrs.png" alt="zrs">
      <img src="/assets/img/team/zyk.png" alt="zyk">
    </div>
  </div>
  <div class="team-footer">
    <h3>CONNECT US <br> 联系我们</h3>
    <div>
      <ul class="clearfix">
        <li class="pull-left">
          <dl>
            <dt class="bg-deep-blue"><i class="fa fa-qq fa-4x"></i></dt>
            <dd>业务咨询 <br>0755-26779999</dd>
          </dl>
        </li>
        <li class="pull-left">
          <dl>
            <dt class="bg-yellow"><i class="fa fa-envelope fa-4x"></i></dt>
            <dd>意见反馈 <br> ...zte@.com.cn</dd>
          </dl>
        </li>
        <li class="pull-left">
          <dl>
            <dt class="bg-purple"><i class="fa fa-mobile fa-4x"></i></dt>
            <dd>实时定制解决方案 <br> 0577-88888888</dd>
          </dl>
        </li>
        <li class="pull-left">
          <dl>
            <dt class="bg-green"><i class="fa fa-map-marker fa-4x"></i></dt>
            <dd>联系地址 <br> 深圳市南山区西丽留仙洞大道中兴工业园</dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
