.team-content {
  background-color: #6fd2f9;
  text-align: center;
  height: 100%;
  .team-top {
    background-color: #efefef;
    div{
      width: 50%;
      img{
        width: 100%;
      }
      p{
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        &:first-child{
          margin-top: 50px;
        }
      }
    }
  }
  .team-style{
    position: relative;
    height: inherit;
    .team-desc{
      color: #fff;
      font-size: 18px;
      text-align: left;
      width: 510px;
      margin: 0 auto;
      padding: 20px 0;
    }
    .bg-box {
      width: 100%;
      background: #6fd2f9 url(/assets/img/team/about-us-bg-empty.png) center center no-repeat;
      .team-img {
        position: relative;
        width: 750px;
        height:600px;
        margin: 0 auto;
        img{
          transition:transform 1s;
          width: 88px;
          height: 88px;
          border-radius: 44px;
          &:hover{
            transform: scale(1.1);
          }
          &:nth-child(1){
            position: absolute;
            top: 238px;
            left: 403px;
          }
          &:nth-child(2){
            position: absolute;
            top: 486px;
            left: 346px;
          }
          &:nth-child(3){
            position: absolute;
            top: 214px;
            left: 655px;
          }
          &:nth-child(4){
            position: absolute;
            top: 76px;
            left: 667px;
          }
          &:nth-child(5){
            position: absolute;
            top: 307px;
            left: 5px;
          }
          &:nth-child(6){
            position: absolute;
            top: 26px;
            left: 313px;
          }
          &:nth-child(7){
            position: absolute;
            top: 150px;
            left: 352px;
          }
          &:nth-child(8){
            position: absolute;
            top: 492px;
            left: 174px;
          }
          &:nth-child(9){
            position: absolute;
            top: 408px;
            left: 646px;
          }
        }
      }
    }
  }
  .team-footer{
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #efefef;
    h3{
      margin-bottom: 20px;
      line-height: 30px;
    }
      li{
        width: 25%;
        dt{
          display: inline-block;
          line-height: 120px;
          width: 100px;
          height: 100px;
          padding-left: 10px;
          margin-bottom: 10px;
          border-radius: 50%;
          text-align: center;
          color: #fff;
        }
        dd{
          line-height: 20px;
        }
      }
  }
}
//00c693
.bg-deep-blue{
  background-color: #00c693;
}
.bg-yellow{
  background-color: #ffb715;
}
.bg-purple{
background-color: #9d4ffb;
}

.bg-green{
   background-color: #00abb3;
 }
