<div class="team-content">
  <div class="team-style">
    <div class="team-desc" [@fade]="'fadeInDown'">
      <p>大数据UED团队，以设计和技术创新为驱动力，凭借在数据可视化方面的积累，为客户提供优质的设计方案、前端组件、后端服务及WebGis开发等多元服务，协助客户获得发现并创造价值。</p>
    </div>
    <div class="bg-box">
      <div class="team-img" [@fade]="'fadeIn'">
        <img src="/assets/img/team/cb.png" alt="cb">
        <img src="/assets/img/team/ctt.png" alt="ctt">
        <img src="/assets/img/team/wpf.png" alt="wpf">
        <img src="/assets/img/team/wtl.png" alt="wtl">
        <img src="/assets/img/team/wx.png" alt="wx">
        <img src="/assets/img/team/zrs.png" alt="zrs">
        <img src="/assets/img/team/zyk.png" alt="zyk">
        <img src="/assets/img/team/fxl.jpg" alt="fxl">
        <img src="/assets/img/team/zh.png" alt="zh">
      </div>
    </div>
  </div>
</div>
<app-back-top [element]="'g-main'"></app-back-top>
