<div class="navbar contentProject container">
    <div class="selfName">
      <a [class.projectsState]="fang" (click)="projectsFilter(fang)">全部</a>
      <a [class.projectsState]="!fang" (click)="projectsFilter(!fang)">我的</a>
      <!--<div class="keyWork" style="display: inline-block">-->
        <!--<input class="btn btn-info"  type="button" (click)="keyWork('软银')" value="软银">-->
      <!--</div>-->
      <div class="keyWord">
        <button class="btn btn-info"><span class="glyphicon glyphicon-object-align-top"></span></button>
        <div>
          <strong [class.ligthHigh]="item == keyWorkName" (click) = "keyWord(item)" *ngFor="let item of ['软银','海洋']">{{item}}</strong>
        </div>
      </div>
    </div>
    <div class="contentList">
        <ul class="row">
          <li   class="col-lg-4 col-md-4 col-xs-6 cardContainer" *ngFor="let projectList of projectLists">
            <div class="contentListDistance">
              <a [routerLink]="['./', projectList.SerialNum ]" style="display: block">
                <div style="position: relative">
                    <img [src]="projectList.ProjectImg" alt="">
                  <div class="coverOverlayDetail">
                    <div class="cardSubtitleContainer"><span>{{projectList.ProjectBrief}}</span> </div>
                    <div class="cardDetailContainer">
                      <span>由&nbsp;{{projectList.Creator}}&nbsp;于&nbsp;{{projectList.UpdateTime}}</span>
                    </div>
                  </div>
                </div>
                <p class="cardTitleContainer" title="{{ projectList.ProjectName}}"><span>{{ projectList.ProjectName}}</span></p>
              </a>
             <div class="selectorList">
               <a href="">原型</a>
               <a href="">效果图</a>
               <a href="">文档</a>
             </div>
            </div>
          </li>
        </ul>
    </div>
</div>
<div class="container">
  <app-footer></app-footer>
</div>

