<div style="width: 200px;margin: 200px auto">
  <div class="a-input input-box" [class.extend]="temp">
    <label for="input-1" class="input-placeholder" [class.input-empty]="isEmpty">Favorite food </label>
    <input class="mat-input-element" type="text" placeholder="test" [(ngModel)]="inputVal" id="input-1" (focus)="changeStatus()" (blur)="changeStatus()">
  </div>
</div>


<app-ued-input>
  <input mdInput type="text" placeholder="test" [(ngModel)]="inputVal">
</app-ued-input>

<div class="form-group">
  <input required="required" class="form-control ">
  <label class="form-label ">用户名    </label>
  <span class="input-underline"></span>
</div>


<div class="form-group">
  <input type="password" required="required" class="form-control"/>
  <label class="form-label">密　码</label>
</div>

<div style="margin: -100px 300px;border: 1px solid saddlebrown">
  <p appRipple style="width: 100px;line-height: 60px">tihsasff  asfasf asf</p>
</div>
