<div style="margin: 20px auto;width: 85%">
  <div>
    <div><img src="http://via.placeholder.com/1250x250" alt=""></div>
  </div>

  <div>
    <div><img src="http://via.placeholder.com/1250x150" alt=""></div>
  </div>
</div>

<div style="margin: 20px auto;width: 85%">
  <div>
    <div><img src="http://via.placeholder.com/1250x250" alt=""></div>
  </div>

  <div>
    <div><img src="http://via.placeholder.com/1250x150" alt=""></div>
  </div>
</div>

<div style="margin: 20px auto;width: 85%">
  <div>
    <div><img src="http://via.placeholder.com/1250x250" alt=""></div>
  </div>

  <div>
    <div><img src="http://via.placeholder.com/1250x150" alt=""></div>
  </div>
</div>
