<div style="width: 200px;margin: 200px auto">
  <div class="a-input input-box" [class.extend]="temp">
    <label for="input-1" class="input-placeholder" [class.input-empty]="isEmpty">Favorite food </label>
    <input class="mat-input-element" type="text" placeholder="test" [(ngModel)]="inputVal" id="input-1" (focus)="changeStatus()" (blur)="changeStatus()">
  </div>
</div>



<div style="margin: -100px 300px;border: 1px solid saddlebrown">
  <p appRipple style="width: 100px;line-height: 60px">tihsasff  asfasf asf</p>
</div>
