<html><head><meta charset="UTF-8"></head><body><form id="mainForm" method="post" action="https://embed.plnkr.co?show=preview" target="_self"><input type="hidden" name="entries[app/app.component.html][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.html][content]" value="&lt;ul class=&quot;ne-list&quot;&gt;
    &lt;li *ngFor=&quot;let ne of neList; index as liIndex&quot; class=&quot;li-{{liIndex}}&quot;
        (mouseover)=&quot;neHover=true;currentIndex=liIndex&quot; (mouseleave)=&quot;neHover=false;currentIndex=liIndex&quot;&gt;
        {{ne.name}}&lt;br&gt;
        {{ne.desc}}&lt;br&gt;
        {{ne.ip}}
        &lt;div *ngIf=&quot;neHover&&currentIndex==liIndex&quot;&gt;
            {{&#x27;title.neName&#x27; | translate}}:{{ne.name}} &lt;br/&gt;
            {{&#x27;title.neType&#x27; | translate}}:{{ne.desc}} &lt;br/&gt;
            {{&#x27;title.nodeIp&#x27; | translate}}:{{ne.ip}}
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;

&lt;jigsaw-table [data]=&quot;tableData&quot;
              [columnDefines]=&quot;columnDefines&quot;
              (selectChange)=&quot;handleRowSelect($event)&quot;
              (doubleClick)=&quot;handleDbRowSelect($event)&quot;
              [hideHead]=&quot;true&quot;&gt;
&lt;/jigsaw-table&gt;
" />
<input type="hidden" name="entries[app/app.component.scss][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.scss][content]" value=".ne-list {
    position: relative;
    height: 76px;
    margin-bottom: 20px;
    li {
        position: absolute;
        width: 150px;
        height: 76px;
        line-height: 1.5;
        text-align: center;
        padding: 10px 0;
        background: #ffbf00;
        div {
            position: absolute;
            z-index: 9999999;
            margin: 12px 0px 0px 125px;
            overflow: visible;
            white-space: nowrap;
            background-color: #ffbf00;
        }
        &.li-0 {
            left: 125px;
        }
        &.li-1 {
            left: 325px;
        }
        &.li-2 {
            left: 525px;
        }
        &:after {
            position: absolute;
            display: block;
            content: &#x27; &#x27;;
            height: 20px;
            border-left: 1px dashed #666;
            left: 50%;
            bottom: -20px;
        }
    }
}
" />
<input type="hidden" name="entries[app/app.component.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.ts][content]" value="import {
    ColumnDefine, TableData,
} from &quot;@rdkmaster/jigsaw&quot;;
import {
    Component, Renderer2, ElementRef, ViewContainerRef, ViewEncapsulation, ChangeDetectorRef
} from &quot;@angular/core&quot;;
import {TableSwimLaneCell} from &quot;./table-renderer&quot;;

@Component({
    selector: &quot;jigsaw-live-demo&quot;,
    templateUrl: &quot;./app.component.html&quot;,
    styleUrls: [&quot;./app.component.scss&quot;],
    encapsulation: ViewEncapsulation.None
})
export class SwimLaneDiagramDemoComponent {
    tableData: TableData;
    elementRef: ElementRef;
    neHover: boolean = true;
    currentIndex: any;

    neList = [
        {name: &#x27;eNB&#x27;, desc: &#x27;100.89.140.69&#x27;, ip: &#x27;100.89.140.69&#x27;},
        {name: &#x27;eMSC&#x27;, desc: &#x27;XNMME03&#x27;, ip: &#x27;221.177.187.1&#x27;},
        {name: &#x27;PCRF&#x27;, desc: &#x27;XNSAEGW02&#x27;, ip: &#x27;221.177.187.112&#x27;},
    ];

    swimLaneData = [
        {
            signalid: 1,
            timestamp: 1499755079939243,
            signaldesc: &#x27;NAS_EPS Service request&#x27;,
            fromnedesc: &#x27;100.89.140.69&#x27;,
            fromneip: &#x27;100.89.140.69&#x27;,
            tonedesc: &#x27;XNMME03&#x27;,
            toneip: &#x27;100.89.254.145&#x27;
        },
        {
            signalid: 2,
            timestamp: 1499755079944271,
            signaldesc: &#x27;S1AP InitialContextSetupRequest&#x27;,
            fromnedesc: &#x27;XNMME03&#x27;,
            fromneip: &#x27;100.89.254.145&#x27;,
            tonedesc: &#x27;100.89.140.69&#x27;,
            toneip: &#x27;100.89.140.69&#x27;
        },
        {
            signalid: 3,
            timestamp: 1499755080028953,
            signaldesc: &#x27;NAS_EPS Service request&#x27;,
            fromnedesc: &#x27;XNMME03&#x27;,
            fromneip: &#x27;100.89.254.145&#x27;,
            tonedesc: &#x27;100.89.140.69&#x27;,
            toneip: &#x27;100.89.140.69&#x27;
        },
        {
            signalid: 4,
            timestamp: 1499755080030389,
            signaldesc: &#x27;S1AP InitialContextSetupRequest&#x27;,
            fromnedesc: &#x27;100.89.140.69&#x27;,
            fromneip: &#x27;100.89.140.69&#x27;,
            tonedesc: &#x27;XNMME03&#x27;,
            toneip: &#x27;100.89.254.145&#x27;
        },
        {
            signalid: 5,
            timestamp: 1499755080035498,
            signaldesc: &#x27;GTPV2 Modify Bearer Request&#x27;,
            fromnedesc: &#x27;XNMME03&#x27;,
            fromneip: &#x27;   221.177.187.1&#x27;,
            tonedesc: &#x27;XNSAEGW02&#x27;,
            toneip: &#x27;221.177.187.17&#x27;
        },
        {
            signalid: 6,
            timestamp: 1499755080040392,
            signaldesc: &#x27;GTPV2 Modify Bearer Response&#x27;,
            fromnedesc: &#x27;XNSAEGW02&#x27;,
            fromneip: &#x27;221.177.187.17&#x27;,
            tonedesc: &#x27;XNMME03&#x27;,
            toneip: &#x27;221.177.187.1&#x27;
        },
        {
            signalid: 7,
            timestamp: 1499755080049906,
            signaldesc: &#x27;GTPV2 Update Bearer Request&#x27;,
            fromnedesc: &#x27;XNSAEGW02&#x27;,
            fromneip: &#x27;221.177.187.17&#x27;,
            tonedesc: &#x27;XNMME03&#x27;,
            toneip: &#x27;221.177.187.1&#x27;
        },
        {
            signalid: 8,
            timestamp: 1499755080064918,
            signaldesc: &#x27;GTPV2 Update Bearer Response&#x27;,
            fromnedesc: &#x27;XNMME03&#x27;,
            fromneip: &#x27;221.177.187.1&#x27;,
            tonedesc: &#x27;XNSAEGW02&#x27;,
            toneip: &#x27;221.177.187.17&#x27;
        },
        {
            signalid: 9,
            timestamp: 1499755080068520,
            signaldesc: &#x27;NAS_EPS Service request&#x27;,
            fromnedesc: &#x27;100.89.140.69&#x27;,
            fromneip: &#x27;100.89.140.69&#x27;,
            tonedesc: &#x27;XNMME03&#x27;,
            toneip: &#x27;100.89.254.145&#x27;
        }
    ];

    constructor(public viewContainerRef: ViewContainerRef,
                public renderer: Renderer2, elementRef: ElementRef, public changeDetector: ChangeDetectorRef) {
        this.elementRef = elementRef;
        this.tableData = new TableData([], [&#x27;id&#x27;, &#x27;date&#x27;], [&#x27;id&#x27;, &#x27;date&#x27;]);
        for (let i = 0; i &lt; this.neList.length; i++) {
            this.tableData.field.push(&#x27;swimLang&#x27; + i);
            this.tableData.header.push(&#x27;swimLang&#x27; + i);
        }
        for (let i = 0; i &lt; this.swimLaneData.length; i++) {
            const swimLane = this.swimLaneData[i];

            const fromNeIndex = this.neList.findIndex(ne =&gt; ne.desc === swimLane.fromnedesc);
            const toNeIndex = this.neList.findIndex(ne =&gt; ne.desc === swimLane.tonedesc);
            const swimLaneIndex = fromNeIndex &lt; toNeIndex ? fromNeIndex : toNeIndex;

            const data: any[] = [];
            for (let j = 0; j &lt; this.tableData.field.length; j++) {
                data[j] = {haveSignal: false, isDashed: true};
            }

            data[0] = swimLane.signalid;
            data[1] = new Date(swimLane.timestamp / 1000).toLocaleString();
            let usetime: number | string;
            if (i == 0) {
                usetime = null;
            } else {
                usetime = swimLane.timestamp - this.swimLaneData[i - 1].timestamp;
            }
            data[swimLaneIndex + 2] = {
                usetime: usetime,
                signaldesc: swimLane.signaldesc,
                fromnedesc: swimLane.fromnedesc,
                fromneip: swimLane.fromneip,
                tonedesc: swimLane.tonedesc,
                toneip: swimLane.toneip,
                neList: this.neList,
                haveSignal: true,
                isDashed: false
            };
            for (let j = swimLaneIndex + 3; j &lt; this.tableData.field.length; j++) {
                data[j] = {haveSignal: false, isDashed: false};
            }
            this.tableData.data.push(data)
        }
        const nullData: any[] = [&#x27;&#x27;, &#x27;&#x27;, {}];
        for (let j = 0; j &lt; this.tableData.field.length; j++) {
            nullData[j] = null;
            if (j &gt;= 2) nullData[j] = {haveSignal: false, isDashed: false};
        }
        for (let j = 0; j &lt; 2; j++) {
            this.tableData.data.push(nullData);
        }
        console.log(this.tableData.data);
    }

    ngAfterViewInit() {
        console.log(this.elementRef.nativeElement.parentElement.clientWidth);
        this.columnDefines = [
            {
                target: 0,
                width: &#x27;50px&#x27;
            },
            {
                target: 1,
                width: &#x27;150px&#x27;
            },
            {
                target: (field, index) =&gt; {
                    return index &gt; 1
                },
                width: &#x27;200px&#x27;,
                cell: {
                    renderer: TableSwimLaneCell
                }
            }, {
                target: this.neList.length + 1,
                width: this.elementRef.nativeElement.parentElement.clientWidth - 200 - (this.neList.length - 1) * 200 + &#x27;px&#x27;
            }
        ];
        this.changeDetector.detectChanges();
    }

    columnDefines: ColumnDefine[];

    handleRowSelect(rowIndex: number) {
        console.log(rowIndex);
    }

    handleDbRowSelect(rowIndex: number) {
        console.log(rowIndex);
    }
}

" />
<input type="hidden" name="entries[app/app.module.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.module.ts][content]" value="import {BrowserModule} from &#x27;@angular/platform-browser&#x27;;
import {BrowserAnimationsModule} from &#x27;@angular/platform-browser/animations&#x27;;
import {HttpModule} from &#x27;@angular/http&#x27;;
import {
    JigsawTableModule, TranslateHelper,
} from &quot;@rdkmaster/jigsaw&quot;;
import {NgModule} from &#x27;@angular/core&#x27;;
import {TranslateModule, TranslateService} from &quot;@ngx-translate/core&quot;;
import {SwimLaneDiagramDemoComponent} from &#x27;./app.component&#x27;;
import {TableSwimLaneCell} from &quot;./table-renderer&quot;;

@NgModule({
    imports: [
        BrowserModule, BrowserAnimationsModule, HttpModule,
        JigsawTableModule, TranslateModule.forRoot()
    ],
    declarations: [SwimLaneDiagramDemoComponent, TableSwimLaneCell],
    bootstrap: [SwimLaneDiagramDemoComponent],
    entryComponents: [TableSwimLaneCell]
})
export class AppModule {
    constructor(translateService: TranslateService) {
        //增加自定义词条，最后一个参数必须是true
        translateService.setTranslation(&#x27;zh&#x27;, {
            title: {
                neName: &quot;网元名称&quot;,
                neType: &quot;网元类型&quot;,
                nodeIp: &quot;节点IP&quot;
            }
        }, true);
        translateService.setTranslation(&#x27;en&#x27;, {
            title: {
                neName: &quot;Ne Name&quot;,
                neType: &quot;Ne Type&quot;,
                nodeIp: &quot;Node Ip&quot;
            }
        }, true);
        translateService.setDefaultLang(translateService.getBrowserLang());
        TranslateHelper.languageChangEvent.subscribe(langInfo =&gt; {
            translateService.use(langInfo.curLang);
        });
    }
}
" />
<input type="hidden" name="entries[app/table-renderer.scss][encoding]" value="utf8" />
<input type="hidden" name="entries[app/table-renderer.scss][content]" value="@mixin line-ellipsis-style() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lane-box {
    position: relative;

    p {
        width: 80%;
        display: inline-block;
        cursor: pointer;
        &.signal-desc {
            @include line-ellipsis-style();
        }
        &.from-to {
            span {
                width: 40%;
                @include line-ellipsis-style();
                &.left {
                    float: left;
                }
                &.right {
                    float: right;
                }
            }
            //span:first-child {
            //    float: left;
            //}
            //span:last-child {
            //    float: right;
            //}
        }
    }

    div {
        z-index: 500;
    }

    b {
        &.arrow {
            display: block;
            height: 0;
            border-top: 2px solid #333;
            position: relative;
            &:after {
                display: block;
                content: &#x27; &#x27;;
                width: 8px;
                height: 8px;
                border-top: 1px solid #333;
                border-right: 1px solid #333;
                position: absolute;
            }
        }
        &.right-arrow:after {
            left: 0;
            top: -5px;
            transform: rotate(225deg);
        }

        &.left-arrow:after {
            top: -5px;
            right: 1px;
            transform: rotate(45deg);
        }
    }

    i {
        &.use-time {
            position: absolute;
            top: -8px;
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

}

.dashed-line {
    height: 0;
    border: 1px dashed #666;
}

.signal-desc-title {
    z-index: 999999999999;
    position: absolute;
    height: 20px;
    overflow: visible;
    background-color: #ffbf00;
    margin: 0px 0px 0px 180px;
}

.ne-desc-title {
    @extend .signal-desc-title;
    height: 40px;
    &.left {
        margin: 0px 0px 0px 90px;
    }
}


" />
<input type="hidden" name="entries[app/table-renderer.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[app/table-renderer.ts][content]" value="import {
    TableCellRenderer,
} from &quot;@rdkmaster/jigsaw&quot;;
import {Component} from &quot;@angular/core&quot;;

/*
 * 泳道流程图
 * */
@Component({
    template: `
        &lt;div *ngIf=&quot;cellData.haveSignal&quot; class=&quot;lane-box&quot;&gt;
            &lt;p class=&quot;signal-desc&quot; (mouseover)=&quot;hover=true&quot; (mouseleave)=&quot;hover=false&quot;&gt;{{cellData.signaldesc}}&lt;/p&gt;
            &lt;b class=&quot;arrow {{getArrowDirect()}}-arrow&quot;&gt;&lt;/b&gt;
            &lt;p class=&quot;from-to&quot;&gt;
                &lt;span class=&quot;{{getArrowDirect()===&#x27;right&#x27; ? &#x27;right&#x27; : &#x27;left&#x27;}}&quot; (mouseover)=&quot;fromNeHover=true&quot;
                      (mouseleave)=&quot;fromNeHover=false&quot;&gt;{{cellData.fromnedesc}}&lt;/span&gt;
                &lt;span class=&quot;{{getArrowDirect()===&#x27;right&#x27; ? &#x27;left&#x27; : &#x27;right&#x27;}}&quot; (mouseover)=&quot;toNeHover=true&quot;
                      (mouseleave)=&quot;toNeHover=false&quot;&gt;{{cellData.tonedesc}}&lt;/span&gt;
            &lt;/p&gt;
            &lt;i *ngIf=&quot;cellData.usetime&quot; class=&quot;use-time {{getArrowDirect()}}&quot;&gt;+{{cellData.usetime}}ms&lt;/i&gt;
        &lt;/div&gt;
        &lt;div *ngIf=&quot;cellData&&hover&quot; class=&quot;signal-desc-title&quot;&gt;{{cellData.signaldesc}}&lt;/div&gt;
        &lt;div *ngIf=&quot;cellData&&fromNeHover&quot; class=&quot;ne-desc-title {{getArrowDirect()===&#x27;right&#x27; ? &#x27;right&#x27; : &#x27;left&#x27;}}&quot;&gt;
            {{cellData.fromneip}}&lt;br/&gt;{{cellData.fromnedesc}}
        &lt;/div&gt;
        &lt;div *ngIf=&quot;cellData&&toNeHover&quot; class=&quot;ne-desc-title {{getArrowDirect()===&#x27;right&#x27; ? &#x27;left&#x27; : &#x27;right&#x27;}}&quot;&gt;
            {{cellData.toneip}}&lt;br/&gt;{{cellData.tonedesc}}
        &lt;/div&gt;
        &lt;div *ngIf=&quot;!cellData.haveSignal&&cellData.isDashed&quot; class=&quot;dashed-line&quot;&gt;&lt;/div&gt;
    `,
    styleUrls: [&quot;./table-renderer.scss&quot;]
})
export class TableSwimLaneCell extends TableCellRenderer {
    hover: boolean;
    fromNeHover: boolean;
    toNeHover: boolean;

    getArrowDirect() {
        const fromNeIndex = this.cellData.neList.findIndex(ne =&gt; ne.desc === this.cellData.fromnedesc);
        const toNeIndex = this.cellData.neList.findIndex(ne =&gt; ne.desc === this.cellData.tonedesc);
        return fromNeIndex - toNeIndex &lt; 0 ? &#x27;left&#x27; : &#x27;right&#x27;;
    }
}



" />
<input type="hidden" name="entries[index.html][encoding]" value="utf8" />
<input type="hidden" name="entries[index.html][content]" value="&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Jigsaw Live Demo&lt;/title&gt;
    &lt;script&gt;document.write(&#x27;&lt;base href=&quot;&#x27; + document.location + &#x27;&quot; /&gt;&#x27;);&lt;/script&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/bootstrap/dist/css/bootstrap.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/font-awesome/css/font-awesome.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/ztree/css/zTreeStyle/zTreeStyle.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/@rdkmaster/jigsaw/theming.css&quot;&gt;

    &lt;style&gt;
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    &lt;/style&gt;

    &lt;!-- 引入Jigsaw需要的依赖，这些依赖没有出umd包，只能配置在这里 --&gt;
    &lt;script src=&quot;https://unpkg.com/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/jquery-mousewheel/jquery.mousewheel.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/moment/min/moment.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/bootstrap/dist/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/ztree/js/jquery.ztree.all.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js&quot;&gt;&lt;/script&gt;

    &lt;!-- Polyfills --&gt;
    &lt;script src=&quot;https://unpkg.com/core-js/client/shim.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/zone.js@0.8.5?main=browser&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/systemjs@0.19.39/dist/system.src.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;systemjs.config.js&quot;&gt;&lt;/script&gt;
    &lt;script&gt;
      System.import(&#x27;main.js&#x27;).catch(function(err){ console.error(err); });
    &lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;jigsaw-live-demo&gt;
      &lt;h3 style=&quot;padding: 6px&quot;&gt;Jigsaw live demo is being loaded...&lt;/h3&gt;
      &lt;h4 style=&quot;padding: 6px&quot;&gt;Visit &lt;a href=&quot;http://rdk.zte.com.cn&quot; target=&quot;_blank&quot;&gt;http://rdk.zte.com.cn&lt;/a&gt; for more detail.&lt;/h4&gt;
      &lt;p&gt;We are suffering some error if this message remains for minutes, will you please send us a report by &lt;a href=&quot;https://github.com/rdkmaster/jigsaw/issues/new&quot;&gt;submitting an issue&lt;/a&gt; with the error message. By the way, you can copy the error message in the console of your browser.&lt;/p&gt;
    &lt;/jigsaw-live-demo&gt;
  &lt;/body&gt;
&lt;/html&gt;
" />
<input type="hidden" name="entries[main.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[main.ts][content]" value="import { platformBrowserDynamic } from &#x27;@angular/platform-browser-dynamic&#x27;;

import { AppModule } from &#x27;./app/app.module&#x27;;

platformBrowserDynamic().bootstrapModule(AppModule);" />
<input type="hidden" name="entries[systemjs.config.js][encoding]" value="utf8" />
<input type="hidden" name="entries[systemjs.config.js][content]" value="(function (global) {
  System.config({
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: &#x27;ts&#x27;,
    typescriptOptions: {
      // Copy of compiler options in standard tsconfig.json
      &quot;target&quot;: &quot;es5&quot;,
      &quot;module&quot;: &quot;commonjs&quot;,
      &quot;moduleResolution&quot;: &quot;node&quot;,
      &quot;sourceMap&quot;: true,
      &quot;emitDecoratorMetadata&quot;: true,
      &quot;experimentalDecorators&quot;: true,
      &quot;lib&quot;: [&quot;es2015&quot;, &quot;dom&quot;],
      &quot;noImplicitAny&quot;: true,
      &quot;suppressImplicitAnyIndexErrors&quot;: true
    },
    meta: {
      &#x27;typescript&#x27;: {
        &quot;exports&quot;: &quot;ts&quot;
      }
    },
    paths: {
      // paths serve as alias
      &#x27;npm:&#x27;: &#x27;https://unpkg.com/&#x27;
    },
    // map tells the System loader where to look for things
    map: {
      // our app is within the app folder
      &#x27;app&#x27;: &#x27;app&#x27;,

      // angular bundles
      &#x27;@angular/animations&#x27;:                  &#x27;npm:@angular/animations/bundles/animations.umd.js&#x27;,
      &#x27;@angular/animations/browser&#x27;:          &#x27;npm:@angular/animations/bundles/animations-browser.umd.js&#x27;,
      &#x27;@angular/core&#x27;:                        &#x27;npm:@angular/core/bundles/core.umd.js&#x27;,
      &#x27;@angular/common&#x27;:                      &#x27;npm:@angular/common/bundles/common.umd.js&#x27;,
      &#x27;@angular/compiler&#x27;:                    &#x27;npm:@angular/compiler/bundles/compiler.umd.js&#x27;,
      &#x27;@angular/platform-browser&#x27;:            &#x27;npm:@angular/platform-browser/bundles/platform-browser.umd.js&#x27;,
      &#x27;@angular/platform-browser/animations&#x27;: &#x27;npm:@angular/platform-browser/bundles/platform-browser-animations.umd.js&#x27;,
      &#x27;@angular/platform-browser-dynamic&#x27;:    &#x27;npm:@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js&#x27;,
      &#x27;@angular/http&#x27;:                        &#x27;npm:@angular/http/bundles/http.umd.js&#x27;,
      &#x27;@angular/router&#x27;:                      &#x27;npm:@angular/router/bundles/router.umd.js&#x27;,
      &#x27;@angular/router/upgrade&#x27;:              &#x27;npm:@angular/router/bundles/router-upgrade.umd.js&#x27;,
      &#x27;@angular/forms&#x27;:                       &#x27;npm:@angular/forms/bundles/forms.umd.js&#x27;,
      &#x27;@angular/upgrade&#x27;:                     &#x27;npm:@angular/upgrade/bundles/upgrade.umd.js&#x27;,
      &#x27;@angular/upgrade/static&#x27;:              &#x27;npm:@angular/upgrade/bundles/upgrade-static.umd.js&#x27;,

      // other libraries
      &#x27;rxjs&#x27;:                       &#x27;npm:rxjs@5.0.1&#x27;,
      &#x27;angular-in-memory-web-api&#x27;:  &#x27;npm:angular-in-memory-web-api/bundles/in-memory-web-api.umd.js&#x27;,
      &#x27;ts&#x27;:                         &#x27;npm:plugin-typescript@5.2.7/lib/plugin.js&#x27;,
      &#x27;typescript&#x27;:                 &#x27;npm:typescript@2.3.2/lib/typescript.js&#x27;,

      // jigsaw needs these
      &quot;@ngx-translate/core&quot;:        &#x27;npm:@ngx-translate/core&#x27;,
      &quot;@ngx-translate/http-loader&quot;: &#x27;npm:@ngx-translate/http-loader&#x27;,
      &quot;echarts&quot;:                    &#x27;npm:echarts@3.5.2/dist/echarts.js&#x27;,
      &#x27;@rdkmaster/jigsaw&#x27;:          &#x27;npm:@rdkmaster/jigsaw&#x27;
    },
    // packages tells the System loader how to load when no filename and/or no extension
    packages: {
      app: {
        main: &#x27;./main.ts&#x27;,
        defaultExtension: &#x27;ts&#x27;,
        meta: {
          &#x27;./*.ts&#x27;: {
            loader: &#x27;systemjs-angular-loader.js&#x27;
          }
        }
      },
      rxjs: {
        defaultExtension: &#x27;js&#x27;
      }
    }
  });

})(this);" />
<input type="hidden" name="entries[systemjs-angular-loader.js][encoding]" value="utf8" />
<input type="hidden" name="entries[systemjs-angular-loader.js][content]" value="var templateUrlRegex = /templateUrl\s*:(\s*[&#x27;&quot;\`](.*?)[&#x27;&quot;\`]\s*)/gm;
var stylesRegex = /styleUrls *:(\s*\[[^\]]*?\])/g;
var stringRegex = /([&#x27;\`&quot;])((?:[^\\]\\\1|.)*?)\1/g;

module.exports.translate = function(load){
  if (load.source.indexOf(&#x27;moduleId&#x27;) != -1) return load;

  var url = document.createElement(&#x27;a&#x27;);
  url.href = load.address;

  var basePathParts = url.pathname.split(&#x27;/&#x27;);

  basePathParts.pop();
  var basePath = basePathParts.join(&#x27;/&#x27;);

  var baseHref = document.createElement(&#x27;a&#x27;);
  baseHref.href = this.baseURL;
  baseHref = baseHref.pathname;

  if (!baseHref.startsWith(&#x27;/base/&#x27;)) { // it is not karma
    basePath = basePath.replace(baseHref, &#x27;&#x27;);
  }

  load.source = load.source
    .replace(templateUrlRegex, function(match, quote, url){
      var resolvedUrl = url;

      if (url.startsWith(&#x27;.&#x27;)) {
        resolvedUrl = basePath + url.substr(1);
      }

      return &#x27;templateUrl: &quot;&#x27; + resolvedUrl + &#x27;&quot;&#x27;;
    })
    .replace(stylesRegex, function(match, relativeUrls) {
      var urls = [];

      while ((match = stringRegex.exec(relativeUrls)) !== null) {
        if (match[2].startsWith(&#x27;.&#x27;)) {
          urls.push(&#x27;&quot;&#x27; + basePath + match[2].substr(1) + &#x27;&quot;&#x27;);
        } else {
          urls.push(&#x27;&quot;&#x27; + match[2] + &#x27;&quot;&#x27;);
        }
      }

      return &quot;styleUrls: [&quot; + urls.join(&#x27;, &#x27;) + &quot;]&quot;;
    });

  return load;
};" />
<input type="hidden" name="title" value="table/swimLaneDiagram - Jigsaw Live Demo - Visit http://rdk.zte.com.cn for more detail." /><input type="hidden" name="tags[0]" value="Jigsaw" /><input type="hidden" name="tags[1]" value="component" /><input type="hidden" name="tags[2]" value="zte" /><input type="hidden" name="tags[3]" value="rdk" /><input type="hidden" name="tags[4]" value="angular" /><input type="hidden" name="tags[5]" value="typescript" /><input type="hidden" name="source[type]" value="Jigsaw Live Demo" /><input type="hidden" name="source[url]" value="http://rdk.zte.com.cn" /></form><script>document.getElementById("mainForm").submit();</script></body></html>