<html><head><meta charset="UTF-8"></head><body><form id="mainForm" method="post" action="https://embed.plnkr.co?show=preview" target="_self"><input type="hidden" name="entries[app/app.component.html][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.html][content]" value="&lt;div class=&quot;popup-option-demo&quot;&gt;
    &lt;div class=&quot;show-box&quot;&gt;
        &lt;div #left class=&quot;left box&quot;&gt;left&lt;/div&gt;
        &lt;div #middle class=&quot;middle box&quot;&gt;middle&lt;/div&gt;
        &lt;div #right class=&quot;right box&quot;&gt;right&lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;line-box&quot;&gt;&lt;label&gt;是否模态：&lt;/label&gt;
        &lt;jigsaw-switch [(checked)]=&quot;option.modal&quot;&gt;&lt;/jigsaw-switch&gt;
    &lt;/div&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;PositionType：&lt;/label&gt;
        &lt;jigsaw-radios [(value)]=&quot;selectedPositionType&quot; trackItemBy=&quot;id&quot;&gt;
            &lt;jigsaw-radio-option *ngFor=&quot;let popPositionType of popPositionTypes&quot; [value]=&quot;popPositionType&quot;&gt;{{popPositionType.label}}&lt;/jigsaw-radio-option&gt;
        &lt;/jigsaw-radios&gt;
    &lt;/div&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;参照物:&lt;/label&gt;
        &lt;jigsaw-radios [(value)]=&quot;selectedPos&quot; trackItemBy=&quot;label&quot;&gt;
            &lt;jigsaw-radio-option *ngFor=&quot;let pose of poses&quot; [value]=&quot;pose&quot;&gt;{{pose.label}}&lt;/jigsaw-radio-option&gt;
        &lt;/jigsaw-radios&gt;
        &lt;div class=&quot;point-set&quot; *ngIf=&quot;selectedPos.label==&#x27;point&#x27;&quot;&gt;
            &lt;jigsaw-input [(value)]=&quot;detailPos.x&quot; placeholder=&quot;X&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
            &lt;jigsaw-input [(value)]=&quot;detailPos.y&quot; placeholder=&quot;Y&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;label&gt;Offset&lt;/label&gt;&lt;br&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;top: &lt;/label&gt;
        &lt;jigsaw-input [(value)]=&quot;offset.top&quot; placeholder=&quot;Top&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
    &lt;/div&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;left: &lt;/label&gt;
        &lt;jigsaw-input [(value)]=&quot;offset.left&quot; placeholder=&quot;Left&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
    &lt;/div&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;bottom: &lt;/label&gt;
        &lt;jigsaw-input [(value)]=&quot;offset.bottom&quot; placeholder=&quot;Bottom&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
    &lt;/div&gt;
    &lt;div class=&quot;line-box&quot;&gt;
        &lt;label&gt;right: &lt;/label&gt;
        &lt;jigsaw-input [(value)]=&quot;offset.right&quot; placeholder=&quot;Right&quot; width=&quot;200px&quot;&gt;&lt;/jigsaw-input&gt;
    &lt;/div&gt;
    &lt;jigsaw-button width=&quot;200px&quot; (click)=&quot;popupDialog1(dialog1)&quot;&gt;Popup&lt;/jigsaw-button&gt;

    &lt;ng-template #dialog1&gt;
        &lt;jigsaw-dialog width=&quot;400px&quot; header=&quot;dialog title&quot; (answer)=&quot;close()&quot;&gt;
            &lt;ul class=&quot;dialog-content&quot;&gt;
                &lt;li&gt;Dialog content...&lt;/li&gt;
                &lt;li&gt;Dialog content...&lt;/li&gt;
                &lt;li&gt;Dialog content...&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/jigsaw-dialog&gt;
    &lt;/ng-template&gt;
&lt;/div&gt;
" />
<input type="hidden" name="entries[app/app.component.scss][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.scss][content]" value=".popup-option-demo{
    padding: 100px 0;
    .show-box{
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        .box{
            width:20%;
            height:300px;
            line-height: 300px;
            text-align: center;
            color:#fff;
            float:left;
            margin-right: 10%;
            &:last-child{
                margin-right: 0;
            }
            &.left{
                background-color: #ec6d6d;
            }
            &.middle{
                background-color: #41addc;
            }
            &.right{
                background-color: #8ac9b6;
            }
        }
    }

    label{
        display: inline-block;
        vertical-align: middle;
        width: 100px;
    }
    .line-box{
        margin-bottom: 10px;
    }
    .point-set{
        padding: 10px 0 0 100px;
    }
    jigsaw-button{
        margin-left: 103px;
    }
}
.dialog-content{
    padding: 20px;
    li{
        font-size: 12px;
        color: #999;
    }
}
" />
<input type="hidden" name="entries[app/app.component.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.component.ts][content]" value="import {
    PopupInfo, PopupOptions, PopupPoint,
    PopupPositionOffset, PopupPositionType, PopupService,
} from &quot;@rdkmaster/jigsaw&quot;;
import {
    Component, ElementRef, OnInit, TemplateRef, ViewChild,
    Renderer2, ViewContainerRef
} from &#x27;@angular/core&#x27;;

@Component({
    selector: &quot;jigsaw-live-demo&quot;,
    templateUrl: &quot;./app.component.html&quot;,
    styleUrls: [&quot;./app.component.scss&quot;]
})
export class DialogPopOptionDemo implements OnInit {

     _dialogInfo: PopupInfo;

     option: PopupOptions;

     popPositionTypes: object[];

     selectedPositionType: object;

     poses: object[];

     selectedPos: any;

     detailPos: PopupPoint;

     offset: PopupPositionOffset;

    @ViewChild(&quot;left&quot;) left: ElementRef;
    @ViewChild(&quot;middle&quot;) middle: ElementRef;
    @ViewChild(&quot;right&quot;) right: ElementRef;

    constructor(public viewContainerRef: ViewContainerRef,
                public renderer: Renderer2,
                private popupService: PopupService) {
    }

    ngOnInit() {
        this.generatePopPosition();
        this.generatePopPos();
        this.detailPos = {x: null, y: null};
        this.offset = {top: 10, left: 10, right: null, bottom: null};
        this.option = {
            modal: false,
            posType: PopupPositionType.absolute
        };
    }

    close() {
        this._dialogInfo.dispose();
    }

    generatePopPos() {
        this.poses = [];
        this.poses.push({label: &quot;red box&quot;, ele: this.left});
        this.poses.push({label: &quot;blue box&quot;, ele: this.middle});
        this.poses.push({label: &quot;green box&quot;, ele: this.right});
        this.poses.push({label: &quot;no reference&quot;});
        this.poses.push({label: &quot;point&quot;});
        this.selectedPos = this.poses[0];
    }

    generatePopPosition() {
        this.popPositionTypes = [];
        for (let prop in PopupPositionType) {
            if (typeof PopupPositionType[prop] === &#x27;number&#x27;)
                this.popPositionTypes.push({label: prop, id: PopupPositionType[prop]});
        }
        this.selectedPositionType = this.popPositionTypes[1];
    }

    popupDialog1(ele: TemplateRef&lt;any&gt;) {
        this.option.posOffset = {
            top: this.offset.top === null ? this.offset.top : Number(this.offset.top),
            left: this.offset.left === null ? this.offset.left : Number(this.offset.left),
            right: this.offset.right === null ? this.offset.right : Number(this.offset.right),
            bottom: this.offset.bottom === null ? this.offset.bottom : Number(this.offset.bottom)
        };

        if (this.selectedPos.label != &quot;point&quot;) {
            this.option.pos = this.selectedPos.ele;
        } else {
            this.option.pos = {
                x: this.detailPos.x === null ? this.detailPos.x : Number(this.detailPos.x),
                y: this.detailPos.y === null ? this.detailPos.y : Number(this.detailPos.y),
            };
        }

        if(this._dialogInfo){
            this._dialogInfo.dispose();
        }

        this._dialogInfo = this.popupService.popup(ele, this.option);
    }

}
" />
<input type="hidden" name="entries[app/app.module.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[app/app.module.ts][content]" value="import {BrowserModule} from &#x27;@angular/platform-browser&#x27;;
import {BrowserAnimationsModule} from &#x27;@angular/platform-browser/animations&#x27;;
import {HttpModule} from &#x27;@angular/http&#x27;;
import {
    JigsawButtonModule, JigsawDialogModule, JigsawInputModule,
    JigsawRadioModule, JigsawSwitchModule, PopupService,
} from &quot;@rdkmaster/jigsaw&quot;;
import {NgModule} from &quot;@angular/core&quot;;
import {DialogPopOptionDemo} from &quot;./app.component&quot;;
import {CommonModule} from &quot;@angular/common&quot;;
@NgModule({
    declarations: [DialogPopOptionDemo],
    bootstrap: [ DialogPopOptionDemo ],
    imports: [
        BrowserModule, BrowserAnimationsModule, HttpModule,
        JigsawDialogModule,
        JigsawButtonModule,
        JigsawSwitchModule,
        JigsawRadioModule,
        JigsawInputModule,
        CommonModule
    ],
    providers: [PopupService]
})
export class AppModule {

}
" />
<input type="hidden" name="entries[index.html][encoding]" value="utf8" />
<input type="hidden" name="entries[index.html][content]" value="&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Jigsaw Live Demo&lt;/title&gt;
    &lt;script&gt;document.write(&#x27;&lt;base href=&quot;&#x27; + document.location + &#x27;&quot; /&gt;&#x27;);&lt;/script&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/bootstrap/dist/css/bootstrap.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/font-awesome/css/font-awesome.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/@rdkmaster/icon-font/css/iconfont.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/ztree/css/zTreeStyle/zTreeStyle.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/@rdkmaster/jigsaw/prebuilt-themes/zte.css&quot;&gt;

    &lt;style&gt;
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* common start */
      /* 容器 */
      .live-demo-wrap {
          padding: 10px;
      }

      /* 大标题 */
      .live-demo-wrap h2 {
          margin-bottom: 40px;
          color: #333;
          font-size: 24px;
          font-weight: 700;
      }

      /* demo容器 */
      .live-demo-wrap .live-demo {
          margin-bottom: 30px;
          padding-left: 10px;
      }

      /* demo标题 */
      .live-demo h3 {
          margin: 0 0 10px -10px;
          color: #333;
          font-size: 18px;
          padding: 2px 14px;
          position: relative;
          border-left: 1px solid #c7254e;
      }
      .live-demo h3:before{
          position: absolute;
          left: -1px;
          top: 0;
          content: &#x27;&#x27;;
          border-style: solid;
          border-width: 6px 10px;
          border-color: transparent transparent transparent #c7254e;
      }

      /* demo文字描述 */
      .live-demo p.comment {
          margin-bottom: 10px;
          color: #666;
          font-size: 14px;
      }

      /* demo消息文字 */
      .live-demo p.message {
          margin-top: 10px;
          margin-bottom: 0;
          color: #999;
      }

      /* demo消息高亮字 */
      .live-demo p.message span {
          margin: 0 4px;
          color: #666;
      }

      /* toggle */
      .live-demo .toggle {
          padding-top: 10px;
          color: #999;
      }
      .live-demo .toggle label{
          margin-right: 10px;
          font-weight: normal;
      }

      /* demo code */
      .live-demo code {
          padding: 2px 4px;
          margin: 0;
          font-size: 85%;
          background-color: rgba(27, 31, 35, 0.05);
          border-radius: 3px;
      }
      /* common end */
    &lt;/style&gt;

    &lt;!-- 引入Jigsaw需要的依赖，这些依赖没有出umd包，只能配置在这里 --&gt;
    &lt;script src=&quot;https://unpkg.com/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/jquery-mousewheel/jquery.mousewheel.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/moment/min/moment.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/bootstrap/dist/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/ztree/js/jquery.ztree.all.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js&quot;&gt;&lt;/script&gt;

    &lt;!-- Polyfills --&gt;
    &lt;script src=&quot;https://unpkg.com/core-js/client/shim.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/zone.js@0.8.5?main=browser&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/systemjs@0.19.39/dist/system.src.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;systemjs.config.js&quot;&gt;&lt;/script&gt;
    &lt;script&gt;
      System.import(&#x27;main.js&#x27;).catch(function(err){ console.error(err); });
    &lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;jigsaw-live-demo&gt;
      &lt;h3 style=&quot;padding: 6px&quot;&gt;Jigsaw live demo is being loaded...&lt;/h3&gt;
      &lt;h4 style=&quot;padding: 6px&quot;&gt;Visit &lt;a href=&quot;http://rdk.zte.com.cn&quot; target=&quot;_blank&quot;&gt;http://rdk.zte.com.cn&lt;/a&gt; for more detail.&lt;/h4&gt;
      &lt;p&gt;We are suffering some error if this message remains for minutes, will you please send us a report by &lt;a href=&quot;https://github.com/rdkmaster/jigsaw/issues/new&quot;&gt;submitting an issue&lt;/a&gt; with the error message. By the way, you can copy the error message in the console of your browser.&lt;/p&gt;
    &lt;/jigsaw-live-demo&gt;
  &lt;/body&gt;
&lt;/html&gt;
" />
<input type="hidden" name="entries[main.ts][encoding]" value="utf8" />
<input type="hidden" name="entries[main.ts][content]" value="import { platformBrowserDynamic } from &#x27;@angular/platform-browser-dynamic&#x27;;

import { AppModule } from &#x27;./app/app.module&#x27;;

platformBrowserDynamic().bootstrapModule(AppModule);" />
<input type="hidden" name="entries[systemjs.config.js][encoding]" value="utf8" />
<input type="hidden" name="entries[systemjs.config.js][content]" value="(function (global) {
  System.config({
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: &#x27;ts&#x27;,
    typescriptOptions: {
      // Copy of compiler options in standard tsconfig.json
      &quot;target&quot;: &quot;es5&quot;,
      &quot;module&quot;: &quot;commonjs&quot;,
      &quot;moduleResolution&quot;: &quot;node&quot;,
      &quot;sourceMap&quot;: true,
      &quot;emitDecoratorMetadata&quot;: true,
      &quot;experimentalDecorators&quot;: true,
      &quot;lib&quot;: [&quot;es2015&quot;, &quot;dom&quot;],
      &quot;noImplicitAny&quot;: true,
      &quot;suppressImplicitAnyIndexErrors&quot;: true
    },
    meta: {
      &#x27;typescript&#x27;: {
        &quot;exports&quot;: &quot;ts&quot;
      }
    },
    paths: {
      // paths serve as alias
      &#x27;npm:&#x27;: &#x27;https://unpkg.com/&#x27;
    },
    // map tells the System loader where to look for things
    map: {
      // our app is within the app folder
      &#x27;app&#x27;: &#x27;app&#x27;,

      // angular bundles
      &#x27;@angular/animations&#x27;:                  &#x27;npm:@angular/animations/bundles/animations.umd.js&#x27;,
      &#x27;@angular/animations/browser&#x27;:          &#x27;npm:@angular/animations/bundles/animations-browser.umd.js&#x27;,
      &#x27;@angular/core&#x27;:                        &#x27;npm:@angular/core/bundles/core.umd.js&#x27;,
      &#x27;@angular/common&#x27;:                      &#x27;npm:@angular/common/bundles/common.umd.js&#x27;,
      &#x27;@angular/compiler&#x27;:                    &#x27;npm:@angular/compiler/bundles/compiler.umd.js&#x27;,
      &#x27;@angular/platform-browser&#x27;:            &#x27;npm:@angular/platform-browser/bundles/platform-browser.umd.js&#x27;,
      &#x27;@angular/platform-browser/animations&#x27;: &#x27;npm:@angular/platform-browser/bundles/platform-browser-animations.umd.js&#x27;,
      &#x27;@angular/platform-browser-dynamic&#x27;:    &#x27;npm:@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js&#x27;,
      &#x27;@angular/http&#x27;:                        &#x27;npm:@angular/http/bundles/http.umd.js&#x27;,
      &#x27;@angular/router&#x27;:                      &#x27;npm:@angular/router/bundles/router.umd.js&#x27;,
      &#x27;@angular/router/upgrade&#x27;:              &#x27;npm:@angular/router/bundles/router-upgrade.umd.js&#x27;,
      &#x27;@angular/forms&#x27;:                       &#x27;npm:@angular/forms/bundles/forms.umd.js&#x27;,
      &#x27;@angular/upgrade&#x27;:                     &#x27;npm:@angular/upgrade/bundles/upgrade.umd.js&#x27;,
      &#x27;@angular/upgrade/static&#x27;:              &#x27;npm:@angular/upgrade/bundles/upgrade-static.umd.js&#x27;,

      // other libraries
      &#x27;rxjs&#x27;:                       &#x27;npm:rxjs@5.0.1&#x27;,
      &#x27;angular-in-memory-web-api&#x27;:  &#x27;npm:angular-in-memory-web-api/bundles/in-memory-web-api.umd.js&#x27;,
      &#x27;ts&#x27;:                         &#x27;npm:plugin-typescript@5.2.7/lib/plugin.js&#x27;,
      &#x27;typescript&#x27;:                 &#x27;npm:typescript@2.3.2/lib/typescript.js&#x27;,

      // jigsaw needs these
      &quot;@ngx-translate/core&quot;:        &#x27;npm:@ngx-translate/core&#x27;,
      &quot;@ngx-translate/http-loader&quot;: &#x27;npm:@ngx-translate/http-loader&#x27;,
      &quot;echarts&quot;:                    &#x27;npm:echarts@3.5.2/dist/echarts.js&#x27;,
      &#x27;@rdkmaster/jigsaw&#x27;:          &#x27;npm:@rdkmaster/jigsaw&#x27;
    },
    // packages tells the System loader how to load when no filename and/or no extension
    packages: {
      app: {
        main: &#x27;./main.ts&#x27;,
        defaultExtension: &#x27;ts&#x27;,
        meta: {
          &#x27;./*.ts&#x27;: {
            loader: &#x27;systemjs-angular-loader.js&#x27;
          }
        }
      },
      rxjs: {
        defaultExtension: &#x27;js&#x27;
      }
    }
  });

})(this);" />
<input type="hidden" name="entries[systemjs-angular-loader.js][encoding]" value="utf8" />
<input type="hidden" name="entries[systemjs-angular-loader.js][content]" value="var templateUrlRegex = /templateUrl\s*:(\s*[&#x27;&quot;\`](.*?)[&#x27;&quot;\`]\s*)/gm;
var stylesRegex = /styleUrls *:(\s*\[[^\]]*?\])/g;
var stringRegex = /([&#x27;\`&quot;])((?:[^\\]\\\1|.)*?)\1/g;

module.exports.translate = function(load){
  if (load.source.indexOf(&#x27;moduleId&#x27;) != -1) return load;

  var url = document.createElement(&#x27;a&#x27;);
  url.href = load.address;

  var basePathParts = url.pathname.split(&#x27;/&#x27;);

  basePathParts.pop();
  var basePath = basePathParts.join(&#x27;/&#x27;);

  var baseHref = document.createElement(&#x27;a&#x27;);
  baseHref.href = this.baseURL;
  baseHref = baseHref.pathname;

  if (!baseHref.startsWith(&#x27;/base/&#x27;)) { // it is not karma
    basePath = basePath.replace(baseHref, &#x27;&#x27;);
  }

  load.source = load.source
    .replace(templateUrlRegex, function(match, quote, url){
      var resolvedUrl = url;

      if (url.startsWith(&#x27;.&#x27;)) {
        resolvedUrl = basePath + url.substr(1);
      }

      return &#x27;templateUrl: &quot;&#x27; + resolvedUrl + &#x27;&quot;&#x27;;
    })
    .replace(stylesRegex, function(match, relativeUrls) {
      var urls = [];

      while ((match = stringRegex.exec(relativeUrls)) !== null) {
        if (match[2].startsWith(&#x27;.&#x27;)) {
          urls.push(&#x27;&quot;&#x27; + basePath + match[2].substr(1) + &#x27;&quot;&#x27;);
        } else {
          urls.push(&#x27;&quot;&#x27; + match[2] + &#x27;&quot;&#x27;);
        }
      }

      return &quot;styleUrls: [&quot; + urls.join(&#x27;, &#x27;) + &quot;]&quot;;
    });

  return load;
};" />
<input type="hidden" name="title" value="dialog/popupOption - Jigsaw Live Demo - Visit http://rdk.zte.com.cn for more detail." /><input type="hidden" name="tags[0]" value="Jigsaw" /><input type="hidden" name="tags[1]" value="component" /><input type="hidden" name="tags[2]" value="zte" /><input type="hidden" name="tags[3]" value="rdk" /><input type="hidden" name="tags[4]" value="angular" /><input type="hidden" name="tags[5]" value="typescript" /><input type="hidden" name="source[type]" value="Jigsaw Live Demo" /><input type="hidden" name="source[url]" value="http://rdk.zte.com.cn" /></form><script>document.getElementById("mainForm").submit();</script></body></html>